:host ::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-mdc-form-field-disabled) .mat-mdc-form-field-flex { height:44px; }
:host ::ng-deep .mat-select-trigger { top:5px; }
:host ::ng-deep .angular-datepicker.mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-suffix .mat-datepicker-toggle-default-icon { bottom:8px; }
:host ::ng-deep .btn.btn-form-save.add-evidence.mat-mdc-button { top:5px;}
mat-table.table.table-striped.table-bordered.table-hover.mat-table { min-width:1050px;}
.mat-radio-group .mat-radio-button { margin:5px;}