:host ::ng-deep .group-field .mat-mdc-form-field.mat-focused .mat-mdc-form-field-ripple { background-color: transparent;}
:host ::ng-deep .group-field .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-underline { display:none;background-color: transparent; }
:host ::ng-deep .group-field input.mat-input-element { border: 1px solid #eaeaea;  font-size: 16px;    padding: 6px 12px;   border-radius: 4px; }
:host ::ng-deep .group-field label.mat-mdc-form-field-label { font-size: 16px; }
:host ::ng-deep .group-field .mat-focused label.mat-mdc-form-field-label { display: none !important; }
:host ::ng-deep .mat-mdc-form-field-should-float label.mat-mdc-form-field-label { display: none !important; }
:host ::ng-deep .group-field .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-label { top: 30px; padding-left: 15px; }
:host ::ng-deep .group-field .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-wrapper { padding-bottom:0px; }
:host ::ng-deep .group-field input.mat-input-element.group_field{border:none;padding:0;height:23px;}
:host ::ng-deep .group-field .mat-mdc-form-field-appearance-outline input.mat-input-element.group_field .mat-mdc-form-field-outline{color:#eaeaea;}

:host ::ng-deep .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-thick{color:#eaeaea!important}
:host ::ng-deep .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-wrapper { padding-bottom:0px; }
:host ::ng-deep .group-field .mat-mdc-form-field-infix { border-top:none;}
.label-btn { width:200px; display: inline-block; }
.add-student-form .form-group { margin-bottom:30px; }
:host ::ng-deep .avatar-image { text-align: center; margin:0px 0px; }
.group-field-block { position: relative; bottom: 5px;}
.avatar-image label.btn.btn-primary.select-file-btn { margin-top:10px; }
.avatar-upload .text-info.text-left{font-size: 12px;position: relative;margin: 5px 0;color:var(--blue-color);}
.add-student-email .text-danger { position: relative;font-size: 12px;padding: 5px 0px;}
.avatar-info { position: relative; margin:20px 0px;}
.field-height { height:100px;}
.add-email-button { position: relative; padding: 20px 0px 0px 0px; }
.add-student-email { position: relative; padding-top:30px;}
.CertificateInfoPopup h4 {border-bottom: 1px solid #eee; padding-bottom: 10px; }
.infoTooltip { width:100%; display: inline-block; position: relative;min-height:200px;}
.infoTooltip button { margin:10px;}
.infoTooltip p { padding-bottom:50px;}
.infoTooltip-btn { width:100%; text-align: center; display: inline-block;position: absolute;bottom: 0;}
.add-student-form .form-horizontal .form-group{margin-left:0}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
:host ::ng-deep .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-prefix .mat-icon-button, :host ::ng-deep .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-suffix .mat-icon-button {position:relative;top:10px;}
.refresh-icon { bottom:auto; top:10px;} 
}

@media (max-width:991px)
{
.add-student-form .form-group { margin-bottom:15px; }
.add-email-button { position: relative; padding: 5px 0px 10px 0px; }
.add-student-email { width:100%; display: inline-block; text-align:center; position: relative; top:-5px;}
}

@media (min-width: 767px) and (max-width: 1028px)
{
:host ::ng-deep .refresh-icon { margin:0px 0px; }
}

@media (max-width: 767px)
{
.add-student-form form { margin-top:60px; }
}