.badgeTitle{padding-top:30px;}
.badgeTitle p{width:100%;padding:15px 25px;display:inline-block;font-size:28px;background-color:#166BB3;font-family:'Roboto-Medium';color:#ffffff;margin-bottom:0;}
.firstLabel p a{float:right;}
.firstLabel p span{float:right;}
.badgeDetailedContainer{width:100%;display:inline-block;padding:0 0 20px 0;color:#000000;min-width:70vw;}
.badgeDetailInfo{width:100%;display:inline-block;}
.badgeDetailedContainer .badgeDetailedHeight{height:100%;width:100%;display:inline-block;}
.badgeDetailedContainer .badgeDetailedLeft{width:100%;padding:15px 15px 15px 15px;display:inline-block;box-shadow:0 0 25px 0 #cccccc;border-radius:4px;height:100%;position:relative;}
.badgeDetailedContainer .badgeDetailedRight{width:100%;padding:15px;display:inline-block;box-shadow:0 0 25px 0 #cccccc;border-radius:4px;height:100%;}
.badgeDetailedContainer .badgeDetailedLeft .badgeDetailImage{width:100%;text-align:center;display:block;padding:10px;position:relative;margin:0 auto;max-width:240px;}
.badgeDetailedContainer .badgeDetailedLeft .badgeDetailImage img{width:100%;max-height:170px;height:auto;min-height:170px;object-fit:contain;}
.badgeDetailedContainer .badgeDetailedLeft .badgeDetailImage .expired-label{align-items: center;display: flex;}
.badgeDetailedContainer .badgeDetailedLeft .badgeDetailImage .expired-label img{width:100%;height:auto;}
.badgeDetailedContainer .badgeDetailInfo h4{color:#0070c7;font-size:16px;margin-top:0;margin-bottom:5px;font-family:'Roboto-Medium';}
.badgeDetailedContainer .badgeDetailInfo h4 span{color:#000000;font-weight:normal;font-family: 'Roboto-Regular';font-size:14px;}
.badgeDetailedContainer .badgeDetailInfo p{font-size:14px;margin-top:5px;color:#000000;}
.badgeDetailedContainer .badgeDetailInfo p b{font-weight:bold;font-family: 'Roboto-Bold';}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo p{font-size:14px;margin-top:5px;color:#000000;margin-bottom:5px;}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo p.ondate{margin-top:0;}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo .enddate{margin-bottom:0;}
.badgeDetailedContainer .badgeDetailInfo .badgeDetailedImage{width:100%;display:inline-block;}
.badgeDetailedContainer .badgeDetailInfo .badgeDetailedImage img{width:120px;height:80px;max-height:80px;object-fit:contain;margin-bottom:5px;margin-right:4px;}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo div.badgesContentBlock {
    padding-bottom: 10px!important;
}
.badgeDetailedContainer .skillsLists{padding-left:0;margin-bottom:3px;}
.badgeDetailedContainer .skillsLists li{display:inline-block;padding:10px;border:1px solid #000000;margin:5px;text-transform:capitalize;}
hr{margin-top:10px;margin-bottom:10px;}
.badgeFooter{width:100%;display:inline-block;text-align:right;}
.badgeFooter img{width:140px;padding:15px;}
button.mat-button.badge-delete{margin:10px 5px;border-radius:4px;background:#E80B0B;color:#ffffff;}
button.mat-button.badge-delete.expired-revoke{margin:10px 5px;border-radius:4px;background:#1976B7;color:#ffffff;text-transform:capitalize;}
.badgeDetails{position:relative;}
.arrowClose{position:absolute;right:-5px;z-index:9999;}
.detailedSharing{padding:0 0;}
.detailedSharing p{color: #0070c7;font-size: 16px;margin-bottom: 5px;font-family: 'Roboto-Medium';}
.detailedSharing h4{color:#0070c7;font-size:16px;margin-bottom:5px;font-family:'Roboto-Medium';margin-top:-5px;}
ul.detailedSharingList{padding-left:0;width:100%;display:inline-block;margin:0 0}
ul.detailedSharingList li{width:auto;display:inline-block;padding:10px;background-color:transparent;cursor:pointer;}
ul.detailedSharingList li img{width:40px;}
.detailedDoc{margin:18px 0;background:#F9F8F8;padding:8px 10px;border-radius:30px;text-align:center;}
.detailedDoc ul li h5 {color:#000000;margin:0 0;font-size:16px;}
.detailedDoc ul li img{width:100%;padding:5px;}
.detailedDoc ul{padding-left:0;cursor:pointer;}
.detailedDoc ul li{display:inline-block;vertical-align:middle;}
.detailedDoc ul li:first-child{width:20%}
.detailedDoc ul li:nth-child(2){width:79%;text-align:left;}
.corner-ribbon span{font-size:10px;color: #fff;position: relative;top:31px;padding: 0;display: block;padding: 10px 0px;text-transform: capitalize;}
.corner-ribbon.top-left{top:-15px;left: -29px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);z-index: 9;}
.corner-ribbon.sticky{position: absolute;}
.corner-ribbon{position:absolute;top: 25px;left: -50px;text-align: center;letter-spacing: 1px;color: #f0f0f0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);font-size: 10px;border-bottom: 30px solid #4CAF50;border-left: 30px solid transparent;border-right: 30px solid transparent;}
.uppercase{text-transform:uppercase;}
.badgesContentBlock{width:100%;display:inline-block;}
:host ::ng-deep .badgesContentBlock div{width: 100%!important;margin:7px 0 7px 0!important;}
.shareToggle{width:100%;text-align:right;display:inline-block;}
.shareToggle h5{margin-bottom:0;padding-right:5px;}
.shareToggle .toggle-container{display:flex;justify-content: flex-end;}
.detailedLabelEvidence{width:100%;display:inline-block;padding:10px;text-align:center;}
.detailedLabelEvidence a{text-align:center;border-radius:40px;background:#F3F7FB;padding:10px 20px;text-decoration:none;font-size:15px;color:#166BB3;margin-bottom:5px;width:100%;display:inline-block;}
.detailedLabel{margin-bottom:20px;margin-top:10px;}
.detailedLabel ul{padding:10px 20px;border-radius:40px;background:#F3F7FB;position:relative;}
.detailedLabel ul > li{display:inline-block;padding:0 0 0 5px;;background:transparent;vertical-align:middle;width:80%;}
.detailedLabel ul li:first-child{width:14%;min-width:28px;}
.detailedLabel ul li p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedLabel ul > li > img{width:100%;height:100%;object-fit:contain;}
.detailedLabel ul li:last-child img{width:22px;display:inline-block;margin:3px;}
.headTooltip{padding-left:8px;top:0;}
.evidence-badge-view{display: flex;flex-direction: column;}
.badgeLeftBottom{position: absolute;right: 0;left: 0;margin: 0 auto;bottom:10px;display: block;width: 100%;}
:host ::ng-deep .badgesContentBlock div br{/*display:none;*/}

@media(max-width:991px)
{
.badgeDetailedContainer .badgeDetailedHeight{width:100%;}
.badgeDetailedContainer{min-width:100%;}
.badgeLeftBottom{position:relative;bottom:0;}
.badgeTitle p{font-size:20px;}
.arrowClose{right:10px;}
}


@media(max-width:767px)
{
.badgeDetailes .col-md-12{padding:0 0;}
.badgeDetailedContainer .badgeDetailedLeft{padding:5px;}
.badgeDetailedContainer ul.detailedSharingList{text-align:center;}
.badgeDetailedContainer ul.detailedSharingList li{padding:5px;}
.badgeDetailedContainer ul.detailedSharingList li img{width:30px;padding:2px;}
}


@media(max-width:480px)
{
.detailedDoc ul li h5{font-size: 12px;}
.detailedDoc ul li img{width: 28px;padding: 5px;}
.detailedDoc ul li h5{font-size: 12px;}
.detailedDoc ul li img{width: 28px;padding: 5px;}
.detailedDoc ul{margin-bottom:0;}
.badgeDetailedContainer .badgeDetailInfo h4{text-align:center;}
.detailedSharing{padding:0 0 10px 0;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;}
}