form ~ div.listData {width:100%;display:inline-block;}
form ~ div.listData h4{font-size:16px;padding:5px;text-align:center;text-transform: capitalize}
form ~ div.listData ul{display:block;padding-left: 0;width: 50%;margin:0 auto}
form ~ div.listData{width:100%;display:inline-block}
form ~ div.listData ul li{display: block;padding-left:0;padding:5px;font-size:16px;}
form ~ div.listData ul li table tr td:first-child {min-width:170px}
form ~ div.listData ul li table tr td:nth-child(2){padding:0 5px}
form ~ div.listData ul li table tr td{vertical-align: top;}
form ~ div.listData ul li:nth-child(odd){background-color:#ececec;}
form ~ div.listData ul li:nth-child(even){background-color:#f5f5f5;}
.alert-message{color:#F44336}
.alert-message i{font-size:16px;position:relative;top:1px;padding-right:5px}

:host ::ng-deep .hidebasictools .angular-editor-toolbar .angular-editor-toolbar-set{border:none!important}
:host ::ng-deep .hidebasictools .angular-editor-button[title="Undo"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Redo"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Underline"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Strikethrough"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Subscript"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Superscript"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Indent"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Outdent"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Unordered List"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Ordered List"],
:host ::ng-deep .hidebasictools .select-heading,
:host ::ng-deep .hidebasictools .select-font,
:host ::ng-deep .hidebasictools .select-font-size,
:host ::ng-deep .hidebasictools .angular-editor-button[title="Insert Link"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Unlink"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Clear Formatting"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="HTML Code"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Insert Image"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Insert Video"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Horizontal Line"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Left"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Right"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Center"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Full"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Text Color"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Background Color"] {
   display: none !important;
}

@media(max-width:767px)
{
form ~ div.listData ul{width:650px}
form ~ div.listData ul li table tr td:first-child {min-width:170px;width:170px;max-width:170px}
form ~ div.listData ul li table{width:650px;max-width:650px;}
}
