/* .badge-detail-separate .no-float.issuer-section { top:0px;}
.badge-left .badge-block h4{ text-align: left; }
.badge-block img {max-width: 210px; height: 165px; display: inline-block; border: 4px solid #d8d8d8; padding: 10px; width: 100%; object-fit: contain; }
.criteria.badge-detail-box { min-height:300px; max-height:300px;}
.badge-certificate-title { display: inline-block; position: relative; text-align: center; width:100%; top:30px; }
.issuer-details img {position: relative; display: inline-block; max-width: 150px; height: 165px; border: 4px solid #d8d8d8; padding: 10px; width: 100%; object-fit: contain;} 
.badge-block { text-align:center; }
.badge-certificate-title h3 {color:#131313;margin-bottom:0px;}
.certificate-unline { width:100px; height:5px; background-color: #d8d8d8; display: inline-block;}
 
@media (max-width: 768px)
{
.badge-detail-separate .badge-details-block { margin-bottom:0px; position: relative; display: inline-block;}
.badge-left .badge-block { text-align: center; }
} */
:host ::ng-deep .view-evidence-btn.mat-mdc-button{min-width:auto;width:auto;}
.infoTooltip { width:100%; display: inline-block; position: relative;min-height:200px;}
.infoTooltip button { margin:10px;}
.infoTooltip p { padding-bottom:50px;}
.infoTooltip-btn { width:100%; text-align: center; display: inline-block;position: absolute;bottom: 0;}
.linkedin-btn { margin:0;}
.linkedin-block .sb-button {/*margin: .2125em;*/}
.email-btn.mat-mdc-button, .linkedin-btn, .download-btn.mat-mdc-button, .SocialIcons .sb-wrapper, .SocialIcons .sb-button { height:100%;margin: 0;border-radius: 0;}
:host ::ng-deep .sb-default .sb-wrapper.sb-facebook, :host ::ng-deep .sb-default .sb-wrapper.sb-twitter { height: 100%;border-radius: 0;}
.sb-button { margin:0 10px 10px 0;}
.share-popup .SocialIcons {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex; flex-wrap: wrap;padding: 2% 0;}
.share-popup .SocialIcons .btn-text { width:85%;display: inline-block;word-break: break-word;white-space: pre-line;line-height: normal;padding: 10px;text-align: left;}
.email-btn.mat-mdc-button .fa, .download-btn.mat-mdc-button .fa, .linkedin-btn.mat-mdc-button .fa { position: relative; left:auto; top:auto;}
:host ::ng-deep button.sb-wrapper.sb-linkedin.sb-show-icon.sb-show-text { background-color:#006fa6; color:#fff;height:100%; }
:host ::ng-deep button.sb-wrapper.sb-linkedin .sb-text { width:100%; display: inline-block; text-align: left;font-weight: normal;padding: 2% 0;}
.SocialIcons .col-md-6 { min-height: 46px;max-height:100%;margin-bottom:10px;}
.progress_animation { margin:5% 0%; }
:host ::ng-deep .student-module .eng_group .blockchain-submain a { top:20px;}
:host ::ng-deep .issuer-details { min-height:auto;}
:host ::ng-deep .badge-detail-separate { background-color: #e8e8e8;width:100%; position: relative; display: inline-block; }
:host ::ng-deep .issuer-details img {position: relative; display: inline-block; max-width: 100px; height: 100px; border: 4px solid #d8d8d8; padding: 10px; width: 100%; object-fit: contain; border-radius:0px; }
:host ::ng-deep .badge-block img { height: 165px; display: inline-block; border: 4px solid #d8d8d8; padding: 10px; width: 100%; border-radius:0;}
:host ::ng-deep .student-module.badge-details-popup .badge-block { text-align:center; margin:0 0; }
:host ::ng-deep .student-module.badge-details-popup .badge-block img { max-width: 100px; height: 100px; display: inline-block; border: 4px solid #d8d8d8; padding: 10px; width: 100%; object-fit: contain; border-radius:0;}
:host ::ng-deep .badge-details-block { width:100%; height:auto; position: relative; display: inline-block; margin-top: 0px; margin-bottom: 0px; background-color: #fff; border:2px solid #d8d8d8; padding:15px; }
:host ::ng-deep .badge-details-modelpopup { bottom:0;margin-top:0;}
:host ::ng-deep .my_pagefooter  { border-top:none; position: relative;  margin-top:20px; margin-bottom:20px; }
:host ::ng-deep .criteria-blog img, :host ::ng-deep .description-blog img { max-width:100%; height:auto !important; width:100% !important;}
:host ::ng-deep .content-block .container { width:100%;}
:host ::ng-deep .badge_btn { margin:10px 0;}
:host ::ng-deep .eng_group { min-height:265px}
:host ::ng-deep .eng_group:hover .blockchain-submain { bottom:0;}
:host ::ng-deep .badge-block { margin:0 0;}
.toggle-container {display: inline-block; position: absolute; top: 15px; right: 35px; }
:host ::ng-deep .toggle-container .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {background-color:#1e232b; }
:host ::ng-deep .toggle-container .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar { background-color:rgba(38, 45, 55, 0.5);}
.badge-block.right-side.issue_dateblock { text-align:center;display: inline-block; padding: 10px; min-width: 210px; max-width:435px;margin:0px;position: relative;}
.badge-block.right-side.issue_dateblock h4 { font-weight: 600;color:#000;margin-top: 0;overflow-wrap: break-word;}
.badge-details-block .badge-block p{overflow-wrap: break-word;}.badge-block.right-side.issue_dateblock h6 { font-weight: 600;color:#000;}
.spacing { margin:10px 0;position: relative;display: inline-block;padding:5px;width: 100%;}
ul.toggle-view { padding-left:0;margin-bottom:0;}
ul.toggle-view li { display: inline-block; margin:10px 10px; }
ul.toggle-view .toggle-container { position: relative; top:0;right:0;margin:0 10px;}
.header-block { width:100%; height: 100px; position: relative; display: inline-block; box-shadow:0 0 12px 2px #888888;padding:25px 20px;}
.header-logo img { width:200px; height:auto; display: inline-block;}
.blue-box { width:100%; position: relative; display: inline-block; text-align: center; }
.blue-box h3{ min-width:230px; font-family: 'Roboto-Regular';color:#fff; background-color: #3381bf; width:auto; padding:10px 20px; display: inline-block; position: relative; text-overflow: ellipsis; font-size:16px; text-transform: capitalize;}
.blue-box h3 img { width:25px; }
.profile_details{ width:100%; padding:32px 10px; background-color: #3381bf; min-height:160px; height:auto;}
.profile_details img { width:60px; height:60px; border-radius:60px; display: inline-block; position: relative; }
.profile_details h3 { font-size:16px; color:#fff; font-family: 'Roboto-Regular'; position: relative; word-break: break-word;word-wrap:break-word; word-spacing: normal; display: inline-block; width: 100%; }
.shield_img { width:100%; text-align: right; display: inline-block;}
.shield_img img { width:25px; height: auto;position: absolute;right: 30px;bottom: 15px;}
.back_btn { width:100%; display: inline-block; text-align: right; }
.back.mat-mdc-button { background-color: #3381bf; color:#fff; }
.main-block { width:100%; margin:20px 0;}
.head-block { width:100%; background-color: #3381bf; padding:10px; }
.head-block h3 { color:#fff; font-family: 'Roboto-Regular'; font-size:16px;}
.content-block { background-color: #f5f5f5; padding:15px 20px; width:100%; height:auto;word-break:break-word;word-wrap:break-word;}
.content-block div{word-break:break-word;word-wrap:break-word;}
.content-block p{white-space:pre-wrap;word-break:break-word;word-wrap:break-word;}
.detail_box { border:1px solid #ededed; width:100%; padding:5px 10px; margin:5px 0px; display: inline-block; position: relative;} 
.detail_box .left-side { width:20%; float: left; display: inline-block; text-align: center;}
.detail_box .right-side { width:78%; display: inline-block; } 
.detail_box .left-side span img { width:40px; height:40px; border-radius: 40px; display: inline-block; position: relative; object-fit: cover; top:5px; margin-right:5px; }
.detail_box .right-side h4 { font-size: 16px; font-weight: normal; color:#4c4c4c; font-family: 'Roboto-Regular';}
.detail_box .right-side h4 a { color:#3381bf; font-weight: normal; font-family: 'Roboto-Regular';}
.left-side .fa { font-size: 20px; color:#4c4c4c;position: relative; top:8px; }
ul.social_list, .social_list { padding-left:0;margin-bottom:0;margin:0 5px; padding-bottom:10px; display: inline-block; position: relative;}
ul.social_list li {font-family: 'Roboto-Regular'; display: inline-block; width:40px; height:40px; border-radius: 40px; color:#fff; margin:0 5px;}
ul.social_list li a .fa { font-size: 25px; position: relative; color:#fff; }
ul.social_list li:first-child a .fa{ left: 12px; top: 9px; }
ul.social_list li:nth-child(2) a .fa{ left: 8px; top: 9px; }
ul.social_list li:nth-child(3) a .fa{ left: 5px; top: 9px; }
ul.social_list li:first-child { background-color: #3b5998; }
ul.social_list li:nth-child(2) { background-color: #1da1f2; }
ul.social_list li:nth-child(3) { background-color: #d34836; }
.certificate_view { margin:20px 0px; width:100%; height: auto; position: relative; display: inline-block; text-align: center; top:60px;}
.certificate_view img { display: inline-block; width:60%; margin-bottom:20px; }
.detail_box a {font-family: 'Roboto-Regular'; font-size: 18px; color:#4c4c4c; }
.detail_box.hover:hover { color:#fff; background-color: #3381bf; }
.detail_box.hover:hover .right-side h4, .detail_box.hover:hover .left-side .fa { color:#fff; }
a:hover .certificate_view.hover .hovers_box{ display: inline-block; }
/* a:hover .certificate_view.hover { position: absolute; margin:20px 0px; top:0px; } */
a.cerificate-click { position: relative; display: inline-block; width: 100%; height: 100%; }
/* .certificate_view.hover .hovers_box{ display: none; } */
.certificate_view.hover { height:46px; position: absolute; top:-5px;}
.certificate_view { width:100%; display:inline-block; text-align:center;}
.hovers_box { color:#fff; position: relative;background: #3381bf;border: 4px solid #c2e1f5;width:220px;padding:10px; display:inline-block;}
.hovers_box:after, .arrow_box:before {top: 100%; left: 50%;	border: solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events: none;}
.hovers_box:after {border-color: rgba(136, 183, 213, 0);	border-top-color: #3381bf;border-width:16px;margin-left:-16px;}
.hovers_box:before {border-color: rgba(194, 225, 245, 0);border-top-color: #c2e1f5;border-width:20px;margin-left:-20px;}
.student-module.badge-details-popup .panel-body { padding:0 15px 15px;}
.not-yet { position:absolute; top:0;left:0;right:0; bottom:0; background-color:rgba(0, 0, 0, 0.57); z-index:999;}
.not-yet h3 { color: #fff; position: relative; top: 35%; bottom: auto; background-color: #4c4c4c; padding:10px;} 
.eng_group:hover .not-yet ~ .blockchain-submain { display: none; }
:host ::ng-deep .student-module.user-certificate .block-left h4 { width:100%; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
:host ::ng-deep .block-right { min-height:78px; display: inline-block; position: relative; right:0; width:33%;}
:host ::ng-deep .block-left {  width: 64%; }
.eng_group span{font-size:12px;}
.eng_group p span{max-height:52px;height:52px;}
.block-right p{margin-bottom:0;}
.block-right .icon { font-size:28px; padding:0;}
:host ::ng-deep .badge-delete.mat-mdc-button { margin:10px 0;}
:host ::ng-deep .delete-input .mat-form-field-appearance-outline .mat-form-field-infix { padding:3px 0;}
.delete-input .text-danger.text-left.small { position: absolute; bottom: 2px; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open { min-width: 38%; width: 25%; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right: 0px; top: 0px; }
:host ::ng-deep .certificate-view-model .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .center-image  { margin-top:30px;}
.student-module.badge-details-popup .badge-block .expired-label img { width: 80px; min-width: 80px; height: auto; border: none; top: 20px; position: relative; }
.email-details .material-icons { font-size: 60px; color:#62bb12; }
.email-details  h5 {font-size: 18px;line-height: 30px; color:#1e232b; }
.email-popup .view-evidence-title h4 { text-align: center; color:#1e232b; font-size: 22px; text-transform: capitalize; font-weight: bold; color: #1e232b; text-shadow: none; }
.badge-img-block { width:200px; display: inline-block; position: relative;}
.badge-img-block .verified-label img { top:-10; right:-10; width:50; height:50; }
.verified-label img { position: absolute; width: 70px; height: 70px; top: 0px; right: 0px; border:none; }
.info-tooltip i { font-size: 30px; color:#ffffff; position: absolute; right: 0px; bottom: 0px; top:20%; margin: auto; }
.certificate-image-view {padding:0px 30px;}
.badge-block.qr-code img { width:120px; height:120px; }
.badge_info i { font-size: 30px; color: #ccc;position: absolute;right: -45px;bottom: 0px;top: 30%;margin: auto;}
.certificate-image-view .verified-label img  { margin:0px; }
.CertificateInfoPopup h4 {border-bottom: 1px solid #eee; padding-bottom: 10px; }

:host ::ng-deep .certificate-view-model .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right:40px; }



/* The ribbons */
.corner-ribbon{position: absolute;top: 25px;left: -50px;text-align: center;letter-spacing: 1px;color: #f0f0f0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);font-size: 10px;border-bottom: 30px solid #4CAF50;border-left: 30px solid transparent;border-right: 30px solid transparent;}
.corner-ribbon span{font-size:10px;color:#fff;position:relative;top:25px;padding:0}
.corner-ribbon.sticky{position: absolute;}
.corner-ribbon.top-left{top:-10px;left:-29px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);z-index:9}
:host ::ng-deep .eng_group:hover .corner-ribbon.top-left{z-index:1}


:host ::ng-deep button.sb-wrapper.sb-whatsapp.sb-show-icon.sb-show-text {
    background-color: #28b72e;
    color: #fff;
    height: 100%;
}

:host ::ng-deep .SocialIcons .sb-show-text .sb-icon {
    width: auto;
    padding-left: 20px;
    padding-right: 8px;
}

:host ::ng-deep .sb-wrapper .sb-count, :host ::ng-deep .sb-wrapper .sb-text {
    text-align: left;
    flex: initial;
    padding: 0;
    display: inline-flex;
    font-weight: 500;
}

:host ::ng-deep .description-blog img {
    width: auto !important;
}











@media (max-width:1199px)
{
    .header-block { height:auto;}
    .blue-box h3 { min-width:auto;}
}


@media (min-width: 980px) and (max-width:1230px)
{
.student-module.user-certificate .block-left h4 { width:100%;}
:host ::ng-deep .student-module.user-certificate .block-left h4 { height:45px;}
.block-left { width:100%; }
.block-right { width:100%; }
}

@media (max-width: 991px)
{
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open { min-width: 50%; width: 65%; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right: 0px; top: 0px; }


:host ::ng-deep .student-module.badge-details-popup .badge-block{margin:20px 0}
.main-block{padding:10 20px}
}

@media (min-width: 769px) and (max-width:900px)
{
.student-module.user-certificate .block-left h4 { width:100%;}
:host ::ng-deep .student-module.user-certificate .block-left h4 { height:45px;}
.block-left { width:100%; }
.block-right { width:100%; }
}

@media (max-width:767px)
{
    .header-block { height: auto;}
    .header-logo { width:100%; text-align: center; display: inline-block; }
    .detail_box .right-side h4 { font-size: 13px;}
    .blue-box h3 { padding: 10px 10px; min-width:auto; font-size: 14px; }
    .profile_details h3 { font-size: 14px;}
    .badge-block { margin:10px 0px;}
    .certificate_view img { width:100%; }
    .content-block { padding:15px 5px}
    .detail_box .left-side span img{margin-right:0}
    .detail_box .right-side h4 a{font-size:14px}
    .detail_box .left-side{width:22%}
    .detail_box .right-side{padding-left:10px}
    .detail_box { padding: 5px 5px;}
    .student-module.badge-details-popup .panel-body { padding: 0px 0px 15px; }

    .SocialIcons .col-md-6{width:100%;}
}


@media (min-width: 481px) and (max-width:550px)
{
.student-module.user-certificate .block-left h4 { width:100%;}
:host ::ng-deep .student-module.user-certificate .block-left h4 { height:45px;}
.block-left { width:100%; }
.block-right { width:100%; }
}


@media (max-width: 640px){
    .badge-details-modelpopup > div,.panel-body.badge-details-block,
    .panel-body.badge-details-block > div{padding:10px 0;}
}
    
@media (max-width: 480px)
{   .badge-block.right-side.issue_dateblock{width: 182px;max-width:100%;min-width:100%;}
    .badge-block.right-side.issue_dateblock h4{font-size: 20px;}
}
