.alert.alert-info.no-records { margin-top:10px;}
.blockchain.mat-mdc-button{background-color: #262d37;color: #fff;margin: 5px 10px;padding:0 5%}
.scheduler-border .form-group{margin-bottom:0px}
.scheduler-border .filter-btn.mat-mdc-button{padding:0% 5%;width:100%;min-width:100%;margin:0 3px 10px 3px}
.scroll-window{color:#6a6c6f}
button.mat-menu-item{text-transform:capitalize}
ul.button-list{padding-left:0; margin-bottom:0;text-align:center }
ul.button-list li{min-width:25%;padding: 0 3px;display:inline-block}

/* box start */
.search-results-stud {padding:10px 0;max-height:650px;border-right:1px solid transparent;display: inline-block;position: relative;width:100%;overflow: auto;}
.content-height { display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; flex-wrap: wrap; }
.box-container { width:100%;height:100%; position: relative; display: inline-block; margin-bottom:20px;}
.box-block { margin-bottom:20px; }
.sub-box { width:100%; height:100%; display: inline-block; position: relative; padding:15px; border:1px solid #29b6d8; border-radius:6px;-webkit-box-shadow:3px 10px 30px -5px rgba(0,0,0,0.4);-moz-box-shadow: 3px 10px 30px -5px rgba(0,0,0,0.4);box-shadow:3px 10px 30px -5px rgba(0,0,0,0.4);margin-bottom:20px;}
.box-details { width:100%; display: inline-block; text-align: center; padding-top:10px;}
.box-details img{width:80px; height:80px; border-radius: 50%; border:3px solid #93dbea;}
.box-details h3{text-transform:capitalize;font-size: 16px; font-weight: bold; color:#000000;width: 100%; text-overflow: ellipsis; overflow: hidden;white-space:nowrap;display:inline-block;margin-top:15px}
.box-details h4{text-transform:capitalize;font-size: 14px; font-weight: normal; color:#232531;width: 100%; text-overflow: ellipsis; overflow: hidden;white-space:nowrap;margin-top:0;display:inline-block}
.box-details h5{text-transform:capitalize;font-size: 12px; font-weight: normal; color:#232531;width: 100%; text-overflow: ellipsis; overflow: hidden;white-space:nowrap}
.side-btn{float:right}
.menu-icon.mat-mdc-button{color:#b2b2b2;min-width:auto;line-height:10px;padding:0;position:absolute;right:10px;top:0}
.menu-icon.mat-mdc-button .material-icons{font-size:30px}
ul.box-list{padding-left:0; margin-bottom:0;}
ul.box-list li{font-size:12px;color:#232531;display:inline-block;padding:0 5px}
ul.box-list li:first-child{border-right:1px solid #ccc}
ul.box-list li:nth-child(2){border-right:1px solid #ccc}
.user-btn-block{margin-bottom:10px}
.blue.mat-mini-fab{background-color:#2e6da4;color:#fff;margin-right:5px;width:35px;height:35px}
.blue.mat-mini-fab .fa{font-size:16px;position: relative;bottom:2px}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, :host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {position:relative;top:10px;}
.refresh-icon { bottom:auto; top:10px;} 
}