.first-add {position: absolute; top: 5px; right: 8px; font-size: 11px; color: #ffffff; background-color: rgb(0, 153, 255); padding: 0px 5px; border-radius: 2px; margin: 0 auto; vertical-align: middle; z-index:99; cursor: pointer; }
.left-arrow{ height:22px; line-height:22px; vertical-align:middle; text-align:center; padding:0 8px; color:#ffffff; background-color:rgb(0, 153, 255); position: relative;; display:inline-block; font-size:12px; /* top:25px; */ right:0px; bottom:15px; left: 35px; z-index:99; }
.left-arrow:before{ position:absolute; left:-18px; content:" "; width: 0px; height: 0px; border-style: solid; border-width: 18px 18px 18px 0px; border-color: transparent rgb(0, 153, 255) transparent transparent; top:-7px; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown {height: 100%;min-height: 100%;max-width: 100%;display: inline-block; width: 100%;border-bottom: 1px solid transparent;}
.menuslides ul#side-menu.show-menu li.nav-item.dropdown.menu-active .dropdown-menu { display: block; position: relative;top: 0; width: 100%;margin: 0; padding: 0 0; background-color: #1e232b;z-index: 9;}
.menuslides ul#side-menu.hide-menu li.nav-item.dropdown .dropdown-menu { display: none; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown .dropdown-menu { display: none; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown.menu-active .dropdown-menu { display: block; position: relative;top: 0; width: 100%;margin: 0; padding: 0 0; background-color: #1e232b;z-index: 9;}
.menuslides ul#side-menu li.nav-item.dropdown .dropdown-menu { display: none; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown .dropdown-menu li:hover { background-color:#262d37; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown .dropdown-menu li a {padding: 20px 0 20px 30px;background-color:#1e232b; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown .dropdown-menu li a:hover { background-color:#262d37; }
.menuslides ul#side-menu li.nav-item.dropdown .right-arrow { display: block;}
.menuslides ul#side-menu li.nav-item.dropdown .down-arrow { display: none;}
.menuslides ul#side-menu.hide-menu li.nav-item.dropdown.menu-active .down-arrow { display: none; }
.menuslides ul#side-menu.hide-menu li.nav-item.dropdown.menu-active .right-arrow { display: block; float: right; font-size: 30px;padding-right: 15px;  }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown.menu-active .right-arrow { display: none;}
.menuslides ul#side-menu.show-menu li.nav-item.dropdown.menu-active .down-arrow { display:block; float:right; font-size: 30px;padding-right: 15px;}
.menuslides ul#side-menu.hide-menu li.nav-item.dropdown .down-arrow { display: none; }
.menuslides ul#side-menu.show-menu li.nav-item.dropdown .down-arrow { display: none; }
.menuslides ul#side-menu li.nav-item.dropdown .down-arrow { display: none; }
.menuslides ul#side-menu.hide-menu li.nav-item.dropdown .right-arrow { display:block; float:right; font-size: 30px;padding-right: 15px;}
.menuslides ul#side-menu.show-menu li.nav-item.dropdown .right-arrow { display:block; float:right; font-size: 30px;padding-right: 15px;}
.menuslides ul#side-menu li.nav-item.dropdown .right-arrow {  display:block; float:right; font-size: 30px;padding-right: 15px; }
.menuslides ul#side-menu li a img{height:32px;width:32px}
.menuslides ul#side-menu.nav > li > a img ~ span.nav-label{top:20%;left:10px}


@media (max-width:1100px)
{
    .sidenav_img img{width:25px}
}


/* .menuslides ul#side-menu li.nav-item.dropdown.show-menu {height: 100%;min-height: 100%;max-width: 100%;display: inline-block; width: 100%;border-bottom: 1px solid transparent;}
.menuslides ul#side-menu li.nav-item.dropdown.menu-active.show-menu .dropdown-menu { display: block; position: relative;top: 0; width: 100%;margin: 0; padding: 0 0; background-color: #1e232b;z-index: 9;}
.menuslides ul#side-menu li.nav-item.dropdown.hide-menu .dropdown-menu { display: none; }
.menuslides ul#side-menu li.nav-item.dropdown.show-menu .dropdown-menu { display: none; }

.menuslides ul#side-menu li.nav-item.dropdown.menu-active.show-menu .dropdown-menu { display: block; position: relative;top: 0; width: 100%;margin: 0; padding: 0 0; background-color: #1e232b;z-index: 9;}
.menuslides ul#side-menu li.nav-item.dropdown .dropdown-menu { display: none; }


.menuslides ul#side-menu li.nav-item.dropdown.show-menu .dropdown-menu li:hover { background-color:#262d37; }
.menuslides ul#side-menu li.nav-item.dropdown.show-menu .dropdown-menu li a {padding: 20px 0 20px 30px;background-color:#1e232b; }
.menuslides ul#side-menu li.nav-item.dropdown.show-menu .dropdown-menu li a:hover { background-color:#262d37; }

.menuslides ul#side-menu li.nav-item.dropdown .right-arrow { display: block;}
.menuslides ul#side-menu li.nav-item.dropdown .down-arrow { display: none;}
.menuslides ul#side-menu li.nav-item.dropdown.menu-active.hide-menu .down-arrow { display: none; }
.menuslides ul#side-menu li.nav-item.dropdown.menu-active.hide-menu .right-arrow { display: block; float: right; font-size: 30px;padding-right: 15px;  }
.menuslides ul#side-menu li.nav-item.dropdown.menu-active.show-menu .right-arrow { display: none;}
.menuslides ul#side-menu li.nav-item.dropdown.menu-active.show-menu .down-arrow { display:block; float:right; font-size: 30px;padding-right: 15px;}

.menuslides ul#side-menu li.nav-item.dropdown.hide-menu .down-arrow { display: none; }
.menuslides ul#side-menu li.nav-item.dropdown.show-menu .down-arrow { display: none; }
.menuslides ul#side-menu li.nav-item.dropdown .down-arrow { display: none; }

.menuslides ul#side-menu li.nav-item.dropdown.hide-menu .right-arrow { display:block; float:right; font-size: 30px;padding-right: 15px;}
.menuslides ul#side-menu li.nav-item.dropdown.show-menu .right-arrow { display:block; float:right; font-size: 30px;padding-right: 15px;}
.menuslides ul#side-menu li.nav-item.dropdown .right-arrow {  display:block; float:right; font-size: 30px;padding-right: 15px; } */
