.alert{ padding: 15px; }

:host ::ng-deep .hidebasictools .angular-editor-toolbar .angular-editor-toolbar-set{border:none!important}
:host ::ng-deep .hidebasictools .angular-editor-button[title="Undo"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Redo"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Underline"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Strikethrough"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Subscript"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Superscript"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Indent"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Outdent"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Unordered List"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Ordered List"],
:host ::ng-deep .hidebasictools .select-heading,
:host ::ng-deep .hidebasictools .select-font,
:host ::ng-deep .hidebasictools .select-font-size,
:host ::ng-deep .hidebasictools .angular-editor-button[title="Insert Link"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Unlink"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Clear Formatting"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="HTML Code"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Insert Image"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Insert Video"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Horizontal Line"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Left"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Right"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Center"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Justify Full"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Text Color"],
:host ::ng-deep .hidebasictools .angular-editor-button[title="Background Color"] {
   display: none !important;
}