:host ::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-mdc-form-field-disabled) .mat-mdc-form-field-flex { height:44px; }
:host ::ng-deep .mat-select-trigger { top:5px; }
mat-table.table.table-striped.table-bordered.table-hover.mat-table { min-width:1050px;}