.mat-select-value { color: #fff !important; }
.lang { position: relative; right: 0px; display: inline-block; margin:0px 5px; }
.theme-palette .mat-mdc-button { min-width:54px; }
.lang .dropdown-menu { min-width:57px;transform: translate3d(-8px, 34px, 0px) !important;top: 8px !important;left: 3px !important;}
.header_default_avatar{display: inline-block;width: 45px;height: 45px;border-radius:45px;vertical-align: middle;margin-left:10px;}
.lang button.mat-mdc-button { color:#fff; font-size:14px; font-family: 'Roboto-Regular';background-color: #34495e;border-color: #34495e; line-height: 32px; padding: 0 12px; width:auto; } 
:host ::ng-deep .main_header_substream #logo.light-version span { max-width:70%; width:155px; font-size: 14px; padding-left: 5px;display: inline-block ;line-height: 45px;}
:host ::ng-deep .main_header_substream #logo.light-version{padding:18px 5px 18px 10px}
.logodash h1 a .eduvot-logo img{width:190px}


@media(min-width: 768px) and (max-width: 979px)
{
.logodash h1 a .eduvot-logo img{top:0}    
}



@media(max-width: 767px)
{
.logodash h1 a .eduvot-logo img{top:0}    
}