<div id="header" class="main_header_substream">
  <nav role="navigation">
  <div class="head_left">
    <div *ngIf="!hideSideNav" class="header-link hide-menu" (click)="toggleSidebar($event)">
      <i class="fa fa-bars"></i>
    </div>

      <a *ngIf="!apiService.user.top_right_logo" >
              <div class="eduvot-logo">
                <img [src]="pagelogo" *ngIf="apiService.user.vouttun_logo">
              </div>
            </a>
            <a *ngIf="apiService.user.top_right_logo && apiService.user.vouttun_logo">
              <div class="eduvot-logo header">
                <span><img src="{{apiService.user.top_right_logo}}" class="img-responsive"></span>
              </div>
            </a>
    </div>

    <div class="logodash">
      <div id="logo" class="light-version pull-right">
              <span *ngIf="apiService.user && apiService.user.first_name">
                {{ apiService.user.first_name + ' ' + apiService.user.last_name }}
              </span>
              <img *ngIf="apiService.user.profile_details.avatar" src="{{apiService.user.profile_details.avatar}}"
                class="header_default_avatar">
      </div>
      <ul class="nav-right">
        <li *ngIf="apiService.userType !== '6' && !this.apiService.user.restrict_language_code">
          <div class="theme-palette">
            <div class="lang">
              <button mat-button [matMenuTriggerFor]="menulang">
                {{selectedLang}}
                <span class="caret"></span>
              </button>
              <mat-menu #menulang="matMenu">
                <button mat-menu-item class="lang_submenu" *ngFor="let lang of languages" (click)="selectLang(lang)">
                  {{lang.language_code}}</button>
              </mat-menu>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
