.detailedMobileContainer{padding:10px;display:inline-block;width:100%;background: #f9f8f8;}
.detailedMobileSub{width: 100%;display: inline-block;padding:15px;border-bottom:1px solid #1C4899;}
.detailedMobileSubtwo{margin:20px 0;display:inline-block;width:100%;}
.detailedMobileSubtwo .pull-left{background: #1C4899;border-top-right-radius: 30px;border-bottom-right-radius: 30px;padding: 15px 50px;}
.detailedMobileSubtwo .pull-left img{width:130px;}
.detailedMobileSubtwo .pull-right{padding:6px;box-shadow: 0 0 25px 0px #ccc;border-top-left-radius: 30px;border-bottom-left-radius: 30px;background:#ffffff;}
.detailedMobileSubtwo .pull-right img{width:55px;height:55px;border-radius:50%;display:inline-block;}
.detailedMobileSubtwo .arrow{padding:12px;}
.detailedBlock .detailedMenu{width:100%;background: rgb(255 255 255 / 3%);display: inline-block;margin: 20px 0;}
.detailedBlock .detailedMenu h5{color:#ffffff;font-size: 18px;border: 2px solid #fff;padding:12px;border-top-left-radius: 8px;border-top-right-radius: 8px;font-family: 'Roboto-Regular';}
.detailedBlock .detailedMenu h5 img{width:25px;margin-right:10px;}
.detailedBlock .detailedMenu ul{padding-left:0;}
.detailedBlock .detailedMenu ul li{display:block;margin:3px auto;}
.detailedBlock .detailedMenu ul li.selected a,
.detailedBlock .detailedMenu ul li a:hover{background: rgb(255 255 255 / 15%);border-radius:4px;color:#ffffff;}
.detailedBlock .detailedMenu ul li a{color:rgb(255 255 255 / 40%);padding:8px 30px;display:inline-block;font-family: 'Roboto-Regular';font-weight:normal;}

.arrowClose{position:absolute;top:12px;right:12px;z-index:9999;}
.corner-ribbon span{font-size:10px;color: #fff;position: relative;top:31px;padding: 0;display: block;padding: 10px 0px;text-transform: capitalize;}
.corner-ribbon.top-left{top:-15px;left: -29px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);z-index: 9;}
.corner-ribbon.sticky{position: absolute;}
.corner-ribbon{position:absolute;top: 25px;left: -50px;text-align: center;letter-spacing: 1px;color: #f0f0f0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);font-size: 10px;border-bottom: 30px solid #4CAF50;border-left: 30px solid transparent;border-right: 30px solid transparent;}
.detailedBlock ul.detailedList{padding-left:0;display:flex;font-family:'SourceSansPro-Regular';margin-bottom:0;}
.detailedBlock ul.detailedList li{display:inline-block;}
/* .detailedBlock ul.detailedList > li:first-child{width:20%;background:#1C4899;padding:20px 20px 110px 20px;position:fixed;top:0;bottom:0;min-width:270px;} */
.detailedBlock ul.detailedList > li:first-child{width:65%;background:#F9F8F8;padding:20px 45px 45px 45px;}
.detailedBlock ul.detailedList > li:last-child{width:35%;background:#ffffff;padding:20px;}
.detailedBlock ul.detailedList > li .detailed-left{display:inline-block;width:100%;padding:15px 20px;text-align:center;height:100%;}
.detailedBlock ul.detailedList > li .detailed-left > img{width:150px;}
.detailedBlock ul.detailedList > li .detailed-left .detailedLeftBottom{width:100%;display:inline-block;position: absolute;bottom: 30px;left: 0;right: 0;}
.detailedBlock ul.detailedList > li .detailed-left .detailedLeftBottom h4{color:#ffffff;font-size:18px;font-family:'SourceSansPro-Regular';text-transform:capitalize;}
.detailedBlock ul.detailedList > li .detailed-left .detailedLeftBottom a{color:#ffffff;font-size:14px;padding: 10px 35px;border:1px solid #ffffff;border-radius: 6px;margin: 5px 0;display: inline-block;font-family:'SourceSansPro-Regular';text-transform:capitalize;}
.detailedBlock .lang_main{margin:20px 0;}
.detailedBlock .lang_main .dropdown_select{background: transparent;border:2px solid #ffffff;margin:20px 0;border-radius:6px}
.detailedBlock ul.detailedList li .detailedBox{width:100%;padding:20px;background:#ffffff;border-radius:8px;display:inline-block;margin-bottom:20px;display:inline-block;}
.detailedBlock ul.detailedList li .detailedBox{color:#000000;font-size:14px;}
.detailedBlock ul.detailedList li .detailedBox .detailedHead{width:100%;display:inline-block;}
.detailedBlock ul.detailedList li .detailedBox .detailedHead h3{font-family:'SourceSansPro-Bold';color:#000000;font-size:18px;}
.detailedBlock ul.detailedList li .detailedBox .detailedHead h3 img{margin-right:10px;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate{width:100%;position:relative;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate img{width:100%;padding:20px 40px;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate .expired-label{margin:auto;display:flex;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate .expired-label img{position: absolute;bottom: 0;top: 0;margin: auto;}
button.mat-button.exitBtn{color:#1C4899;font-size:16px;}
button.mat-button.exitBtn img{margin-right:8px;}
.detailed-right{width:100%;height:100%;margin-bottom:100px;display:inline-block;}
.detailedInfo{position:relative;display:inline-block;width:100%;height:100%;}
.detailedInfo .detailedProfile{position:relative;display:block;width:150px;height:150px;margin:0 auto;}
.detailedInfo .detailedProfile img{border-radius:50%;width:100%;border:1px solid #0DF108;}
.detailedInfo h4{font-size:20px;font-family:'SourceSansPro-Bold';color:#000000;margin-bottom:0;}
.detailedInfo p{font-size:16px;font-weight:normal;margin:0 0;}
.detailedInfo .detailedProfileDetails h4{text-transform:uppercase;}
.detailedProfileDetails{width:100%;display:inline-block;text-align:center;padding:10px 0}
.detailedProfileDetails p{margin-bottom:10px;}
.detailedInfo .detailedProfile img.verified{position:absolute;width:auto;bottom:0;right:10px;}
.detailedInfo .detailedProfile .emailMessage{position:absolute;width:auto;bottom:0;right:-25px;}
.detailedInfo .detailedProfile .emailMessage img{width:26px;border:none;}
.detailedSharing p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedBlock ul.detailedList li .detailedLabel{margin-bottom:20px;}
.detailedBlock ul.detailedList li .detailedLabel ul{padding:10px 20px;border-radius:40px;background:#F3F7FB;position:relative;}
.detailedBlock ul.detailedList li .detailedLabel ul > li{display:inline-block;padding:0 0 0 5px;;background:transparent;vertical-align:middle;width:80%;}
.detailedBlock ul.detailedList li .detailedLabel ul li:first-child{width:14%}
.detailedBlock ul.detailedList li .detailedLabel ul li p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedBlock ul.detailedList li .detailedLabel ul li p label{padding-top:3px;margin:0 0;}
.detailedBlock ul.detailedList li .detailedLabel ul > li > img{width:28px;height:28px;}
.detailedBlock ul.detailedList li .detailedLabel ul li:last-child img{width:22px;display:inline-block;margin:3px;}
.detailedBlock ul.detailedList li .detailedLabelEvidence a{text-align:center;border-radius:40px;background:#F3F7FB;padding:10px 20px;text-decoration:none;font-size:18px;color:#166BB3;margin-bottom:20px;width:100%;display:inline-block;}
.detailedBlock ul.detailedList li .detailedDates{text-align:center;width:100%;margin-bottom:20px;}
.detailedBlock ul.detailedList li .detailedDates h4{font-size:14px;color:#000000;font-family:'SourceSansPro-Regular';margin-bottom:0;}
.detailedBlock ul.detailedList li .detailedDates p{font-size:20px;color:#000000;font-family:'SourceSansPro-Bold';}
.detailedBlock ul.detailedList li .detailedDates .detailedSharing{padding:0 50px;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharing p{font-family:'SourceSansPro-Bold';font-size:20px;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharingList{padding-left:0;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharingList li{display:inline-block;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharingList li img{width:52px;height:52px;}
.detailedBlock ul.detailedList li .detailedBottom{margin-bottom:20px;}
.detailedBlock ul.detailedList li .detailedBottom ul{padding:10px 20px;border-radius:40px;background:#F3F7FB;}
.detailedBlock ul.detailedList li .detailedBottom ul li{display:inline-block;padding:0 0;background:transparent;vertical-align:middle;}
.detailedBlock ul.detailedList li .detailedBottom ul li p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedBlock ul.detailedList li .detailedBottom ul li:last-child img{width:30px;}
.detailedBlock ul.detailedList li ul.detailedSharingList{padding-left:0;width:100%;display:inline-block;margin:20px 0}
.detailedBlock ul.detailedList li ul.detailedSharingList li{width:auto;display:inline-block;padding:10px;background-color:transparent;cursor:pointer;}
.detailedBlock ul.detailedList li ul.detailedSharingList li img{width:40px;}
.detailedBlock .detailedDoc{margin:18px 20px;background:#F9F8F8;padding:8px 10px;border-radius:30px;text-align:center;}
.detailedBlock .detailedDoc ul li h5 {color:#000000;margin:0 0;font-size:16px;}
.detailedBlock .detailedDoc ul li img{width:40px;padding:5px;}
.detailedBlock .detailedDoc ul{padding-left:0;cursor:pointer;}
.detailedBlock .detailedDoc ul li{display:inline-block;vertical-align:middle;}
.detailedBlock .detailedDoc ul li:first-child{width:20%}
.detailedBlock .detailedDoc ul li:nth-child(2){width:60%;text-align:left;}
.blockchainedCerttun{position:relative;bottom:0;right:0;left:0;text-align:center;}
.blockchainedCerttun a{border-radius:30px;color:#1C4899;background:transparent;border:2px solid #1C4899;padding:10px 28px;font-size:16px;position:relative;top:30px;cursor:default;}
.detailedMobileContainer{display:none;}
.mobileFooter{display:none;text-align:center;}
.mobileFooter > a{background-color:#1C4899;color:#ffffff;padding:8px 12px;border-radius:4px;font-size:16px;display:inline-block;width:auto;text-transform: capitalize;margin-bottom:20px;}
.mobileFooter .blockchanedLink{width:100%;display:inline-block;}
.mobileFooter .blockchanedLink a{color:#1C4899;border:2px solid #1C4899;padding:10px 25px;border-radius:30px;width:auto;display:inline-block;margin:20px 0;font-size:16px;text-transform: capitalize;}
.blockchainedBottomContainer{display:none;}
.blockchainedBottom{border-radius: 30px;color: #1C4899;background: transparent;border: 2px solid #1C4899;padding: 10px 28px;font-size: 16px;}
button.mat-button.badge-delete{margin:5px;border-radius:4px;background:#E80B0B;color:#ffffff;}
button.mat-button.badge-delete.expired-revoke{margin:5px;border-radius:4px;background:#1976B7;color:#ffffff;text-transform:capitalize;}
.content-block span{padding:4px 10px;border:1px solid #cccccc;margin:2px 5px;display:inline-block;text-transform:capitalize;}
.uppercase{text-transform:uppercase;}
.evidence-certi-view{display: flex;flex-direction: column;}
/* :host ::ng-deep .badgesContentBlock div:only-child br{display:none;}
div:only-child br{display:none;}
:host ::ng-deep div:only-child br{display:none;} */
.firstLabel p a{float:right;}
.firstLabel p span{float:right;}
.detailedMobileSub .pull-left button.mat-button{color: #1C4899}
.shareToggle{display:flex;align-items:center;}
.shareToggle h5{margin-bottom:0;padding-right:5px;}
.detailedLabelEvidence{width:100%;display:inline-block;padding:10px;text-align:center;}
.detailedLabelEvidence a{text-align:center;border-radius:40px;background:#F3F7FB;padding:10px 20px;text-decoration:none;font-size:18px;color:#166BB3;margin-bottom:20px;width:100%;display:inline-block;}
.detailedBlock{margin: -24px;position:relative;}
.headTooltip{padding-left:8px;}
.certificate_title{color:#000000;padding-bottom:15px;}



@media(max-width:1150px)
{
.detailedBlock ul.detailedList > li:first-child{width:55%;}
.detailedBlock ul.detailedList > li:last-child{width:45%;}
}

@media(max-width:991px)
{
.detailedMobileContainer{display:block;}
/* .blockchainedBottomContainer{display:none} */
.detailedBlock ul.detailedList{display:inline-block;}
.detailedBlock ul.detailedList > li:first-child, .detailedBlock ul.detailedList > li:last-child{width:100%;}
.detailedBlock ul.detailedList > li:nth-child(2){width:100%;padding:20px;margin-left:0;}
.blockchainedCerttun{position:relative;bottom:0;top:30px;} 
.mobileFooter{width:100%;display:inline-block;padding:20px 0;}
.detailedBlock{margin:0;}
.arrowClose{right:10px;}
}


@media(max-width:767px)
{
.arrowClose{top: -10px;}
.detailedBlock ul.detailedList > li:first-child{padding:10px;}
.detailedBlock .detailedDoc{margin: 18px 0;padding: 8px 10px;}
.blockchainedCerttun a{padding:10px 10px;font-size:12px;}
.detailedInfo p{font-size:12px;}
.detailedBlock ul.detailedList > li:nth-child(2){width:100%;padding:20px 5px;margin-left:0;}
.detailedInfo h4{font-size:16px;}
.detailedBlock ul.detailedList li ul.detailedSharingList{text-align:center;}
.detailedBlock ul.detailedList li ul.detailedSharingList li{padding:5px;}
.detailedBlock ul.detailedList li ul.detailedSharingList li img{width:30px;padding:2px;}
.detailedBlock ul.detailedList li .detailedLabel ul.firstLabel li p label{font-size:12px;margin-bottom:0;padding-top:5px;}
.detailedBlock ul.detailedList li .detailedLabel ul li p{font-size:12px;position:relative;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate img{padding:20px 10px;}
.detailedBlock ul.detailedList li .detailedBox{padding:10px;}
.detailedBlock ul.detailedList li .detailedLabel ul{padding:10px 5px;}
.detailedBlock ul.detailedList li .detailedLabel ul > li > img{width: 20px;height: 20px;}
}

@media(max-width:480px)
{
.detailedMobileSub .pull-left{float:left!important;}
.detailedMobileSubtwo .pull-left{float:left!important;padding:20px 50px;}
.detailedMobileSubtwo .pull-left img{width:70px;}
.detailedMobileSubtwo .pull-right img{width:50px;height:50px;}
.detailedBlock .detailedDoc ul li h5{font-size: 12px;}
.detailedBlock .detailedDoc ul li img{width: 28px;padding: 5px;}
}