.badgeTitle{padding-top:0;}
.badgeTitle p{width:100%;padding:15px 25px;display:inline-block;font-size:28px;background-color:#166BB3;font-family:'Roboto-Medium';color:#ffffff;margin-bottom:0;}

.badgeDetailedContainer{width:100%;display:inline-block;padding:0 0 20px 0;color:#000000;}
.badgeDetailedContainer .header-block{margin-bottom:30px}
.badgeDetailedContainer .badgeDetailedHeight{height:100%;}
.badgeDetailedContainer .badgeDetailedLeft{width:100%;padding:15px;display:inline-block;box-shadow:0 0 25px 0 #cccccc;border-radius:4px;height:100%;}
.badgeDetailedContainer .badgeDetailedRight{width:100%;padding:15px;display:inline-block;box-shadow:0 0 25px 0 #cccccc;border-radius:4px;height:100%;}
.badgeDetailedContainer .badgeDetailedLeft .badgeDetailImage{width:100%;text-align:center;display:inline-block;padding:10px;}
.badgeDetailedContainer .badgeDetailedLeft .badgeDetailImage img{width:100%;max-height:170px;height:auto;min-height:170px;object-fit:contain;}
.badgeDetailedContainer .badgeDetailInfo h4{color:#0070c7;font-size:16px;margin-bottom:5px;font-family:'Roboto-Medium';margin-top:0;}
.badgeDetailedContainer .badgeDetailInfo h4 span{color:#000000;font-weight:normal;font-family: 'Roboto-Regular';font-size:14px;}
.badgeDetailedContainer .badgeDetailInfo p{font-size:14px;margin-top:5px;color:#000000;}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo p{font-size:14px;margin-top:5px;color:#000000;margin-bottom:5px;}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo p.ondate{margin-top:0;} 

.certificate_title{color:#000000;padding-bottom:15px;}

.badgeDetailedContainer .badgeDetailInfo p b{font-weight:bold;font-family:'Roboto-Bold';}
.badgeDetailedContainer .badgeDetailInfo div{width:100%!important;}
.badgeDetailedContainer .badgeDetailedRight .badgeDetailInfo div.badgesContentBlock {
    padding-bottom: 10px!important;
}

.badgeDetailedContainer .badgeDetailInfo .badgeDetailedImage{width:100%;display:inline-block;}
.badgeDetailedContainer .badgeDetailInfo .badgeDetailedImage img{width:120px;height:80px;max-height:80px;object-fit:contain;margin-bottom:5px;margin-right:4px;}
.badgeDetailedContainer .skillsLists{padding-left:0;margin-bottom:5px;}
.badgeDetailedContainer .skillsLists li{display:inline-block;padding:10px;border:1px solid #000000;margin:5px;text-transform:capitalize;}
hr{margin-top:10px;margin-bottom:10px;}
.badgeFooter{width:100%;display:inline-block;text-align:right;}
.badgeFooter img{width:140px;padding:15px;}
.uppercase{text-transform:uppercase;}
.badgesContentBlock{width:100%;display:inline-block;}
:host ::ng-deep .badgesContentBlock div{width: 100%!important;margin:7px 0 7px 0!important;}
:host ::ng-deep .badgesContentBlock div:only-child br{/*display:none;*/}
:host ::ng-deep .badgesContentBlock div br{/*display:none;*/}
div:only-child br{/*display:none;*/}
:host ::ng-deep div:only-child br{/*display:none;*/}
.content-block span{display: inline-block;padding: 10px;border: 1px solid #000000;margin: 5px;text-transform:capitalize;}
.detailedLabelEvidence{width:100%;display:inline-block;padding:10px;text-align:center;}
.detailedLabelEvidence a{text-align:center;border-radius:40px;background:#F3F7FB;padding:10px 20px;text-decoration:none;font-size:16px;color:#166BB3;margin-bottom:20px;width:100%;display:inline-block;}
.detailedLabel{margin-bottom:20px;}
.detailedLabel ul{padding:10px 20px;border-radius:40px;background:#F3F7FB;position:relative;}
.detailedLabel ul > li{display:inline-block;padding:0 0 0 5px;;background:transparent;vertical-align:middle;width:80%;}
.detailedLabel ul li:first-child{width:14%;min-width:28px;}
.detailedLabel ul li p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedLabel ul > li > img{width:100%;height:auto;}
.detailedLabel ul li:last-child img{width:22px;display:inline-block;margin:3px;}
.headTooltip{padding-left:8px;}


.detailedSharing{padding:0 0;}
.detailedSharing p{color:#0070c7;font-size:16px;margin-bottom:5px;font-family:'Roboto-Medium';}
.detailedSharing h4{color:#0070c7;font-size:16px;margin-bottom:5px;font-family:'Roboto-Medium';margin-top:0;}
ul.detailedSharingList{padding-left:0;width:100%;display:inline-block;margin:0 0}
ul.detailedSharingList li{width:auto;display:inline-block;padding:10px;background-color:transparent;cursor:pointer;}
ul.detailedSharingList li img{width:40px;}
.detailedDoc{margin:18px 0;background:#F9F8F8;padding:8px 10px;border-radius:30px;text-align:center;}
.detailedDoc ul li h5 {color:#000000;margin:0 0;font-size:16px;}
.detailedDoc ul li img{width:48px;padding:5px;}
.detailedDoc ul{padding-left:0;cursor:pointer;}
.detailedDoc ul li{display:inline-block;vertical-align:middle;}
.detailedDoc ul li:first-child{width:20%}
.detailedDoc ul li:nth-child(2){width:79%;text-align:left;}
.evidence-badges-view{display: flex;flex-direction: column;}


@media(max-width:991px)
{
.badgeDetailedContainer .badgeDetailedHeight{width:100%;flex-wrap:wrap;display:inline-block;}
.badgeDetailedContainer .header-block{height:100%;}
.badgeDetailedContainer .header-block .pull-right{text-align:center;margin-top:10px;}
.header-block .pull-left{float: left!important;}
}

@media(max-width:767px)
{
ul.detailedSharingList{text-align:center;}
}


@media(max-width:480px)
{
.badgeDetailedContainer .badgeDetailInfo h4{text-align:center;}
}










.header-logo img {
    position: relative;
    bottom: 12px;}

/*  */
.detailedMobileContainer{padding:10px;display:inline-block;width:100%;background: #f9f8f8;}
.detailedMobileSub{width: 100%;display: inline-block;padding:15px;border-bottom:1px solid #1C4899;}
.detailedMobileSubtwo{margin:20px 0;display:inline-block;width:100%;}
.detailedMobileSubtwo .pull-left{background: #1C4899;border-top-right-radius: 30px;border-bottom-right-radius: 30px;padding: 15px 50px;}
.detailedMobileSubtwo .pull-left img{width:130px;}
.detailedMobileSubtwo .pull-right{padding:6px;box-shadow: 0 0 25px 0px #ccc;border-top-left-radius: 30px;border-bottom-left-radius: 30px;background:#ffffff;}
.detailedMobileSubtwo .pull-right img{width:55px;height:55px;border-radius:50%;display:inline-block;}
.detailedMobileSubtwo .arrow{padding:12px;}
.detailedBlock .detailedMenu{width:100%;background: rgb(255 255 255 / 3%);display: inline-block;margin: 20px 0;}
.detailedBlock .detailedMenu h5{color:#ffffff;font-size: 18px;border: 2px solid #fff;padding:12px;border-top-left-radius: 8px;border-top-right-radius: 8px;font-family: 'Roboto-Regular';}
.detailedBlock .detailedMenu h5 img{width:25px;margin-right:10px;}
.detailedBlock .detailedMenu ul{padding-left:0;}
.detailedBlock .detailedMenu ul li{display:block;margin:3px auto;}
.detailedBlock .detailedMenu ul li.selected a,
.detailedBlock .detailedMenu ul li a:hover{background: rgb(255 255 255 / 15%);border-radius:4px;color:#ffffff;}
.detailedBlock .detailedMenu ul li a{color:rgb(255 255 255 / 40%);padding:8px 30px;display:inline-block;font-family: 'Roboto-Regular';font-weight:normal;}
.arrowClose{display:none;}
.detailedBlock ul.detailedList{padding-left:0;display:flex;font-family:'SourceSansPro-Regular';margin-bottom:0;}
.detailedBlock ul.detailedList li{display:inline-block;}
.detailedBlock ul.detailedList > li:first-child{width:20%;background:#1C4899;padding:20px 20px 110px 20px;position:fixed;top:0;bottom:0;min-width:270px;max-width:270px;}
.detailedBlock ul.detailedList > li:nth-child(2){width:55%;background:#F9F8F8;padding:20px 45px 45px 45px;margin-left:270px;}
.detailedBlock ul.detailedList > li:last-child{width:25%;background:#ffffff;padding:20px;}
.detailedBlock ul.detailedList > li .detailed-left{display:inline-block;width:100%;padding:15px 20px;text-align:center;height:100%;}
.detailedBlock ul.detailedList > li .detailed-left > img{width:150px;}
.detailedBlock ul.detailedList > li .detailed-left .detailedLeftBottom{width:100%;display:inline-block;position: absolute;bottom: 30px;left: 0;right: 0;}
.detailedBlock ul.detailedList > li .detailed-left .detailedLeftBottom h4{color:#ffffff;font-size:18px;font-family:'SourceSansPro-Regular';text-transform:capitalize;}
.detailedBlock ul.detailedList > li .detailed-left .detailedLeftBottom a{color:#ffffff;font-size:14px;padding: 10px 35px;border:1px solid #ffffff;border-radius: 6px;margin: 5px 0;display: inline-block;font-family:'SourceSansPro-Regular';text-transform:capitalize;}
.detailedBlock .lang_main{margin:20px 0;}
.detailedBlock .lang_main .dropdown_select{background: transparent;border:2px solid #ffffff;margin:20px 0;border-radius:6px}
.detailedBlock ul.detailedList li .detailedBox{width:100%;padding:20px;background:#ffffff;border-radius:8px;display:inline-block;margin-bottom:20px;display:inline-block;}
.detailedBlock ul.detailedList li .detailedBox{color:#000000;font-size:14px;}
.detailedBlock ul.detailedList li .detailedBox .detailedHead{width:100%;display:inline-block;}
.detailedBlock ul.detailedList li .detailedBox .detailedHead h3{font-family:'SourceSansPro-Bold';color:#000000;font-size:18px;}
.detailedBlock ul.detailedList li .detailedBox .detailedHead h3 img{margin-right:10px;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate{width:100%;}
.detailedBlock ul.detailedList li .detailed-center .detailedBox .detailedCertificate img{width:100%;padding:20px 40px;}
button.mat-mdc-button.exitBtn{color:#1C4899;font-size:16px;}
button.mat-mdc-button.exitBtn img{margin-right:8px;}
.detailed-right{width:100%;height:100%;margin-bottom:100px;display:inline-block;}
.detailedInfo{position:relative;display:inline-block;width:100%;height:100%;}
.detailedInfo .detailedProfile{position:relative;display:block;width:150px;height:150px;margin:0 auto;}
.detailedInfo .detailedProfile img{border-radius:50%;width:100%;border:1px solid #0DF108;}
.detailedInfo h4{font-size:18px;font-family:'SourceSansPro-Bold';color:#000000;margin-bottom:0;}
.detailedInfo p{font-size:16px;font-weight:normal;margin:0 0;}
.detailedProfileDetails{width:100%;display:inline-block;text-align:center;padding:10px 0}
.detailedProfileDetails p{margin-bottom:10px;}
.detailedInfo .detailedProfile img.verified{position:absolute;width:auto;bottom:0;right:10px;}
.detailedInfo .detailedProfile .emailMessage{position:absolute;width:auto;bottom:0;right:-22px;}
.detailedInfo .detailedProfile .emailMessage img{width:26px;border:none;}
.detailedSharing p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedBlock ul.detailedList li .detailedLabel{margin-bottom:20px;}
.detailedBlock ul.detailedList li .detailedLabel ul{padding:10px 20px;border-radius:40px;background:#F3F7FB;position:relative;}
.detailedBlock ul.detailedList li .detailedLabel ul > li{display:inline-block;padding:0 0 0 5px;;background:transparent;vertical-align:middle;width:80%;}
.detailedBlock ul.detailedList li .detailedLabel ul li:first-child{width:15%}
.detailedBlock ul.detailedList li .detailedLabel ul li p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedBlock ul.detailedList li .detailedLabel ul li p label{margin:0 0;padding-top:4px;}
.detailedBlock ul.detailedList li .detailedLabel ul > li > img{width:100%;height:100%;}
.detailedBlock ul.detailedList li .detailedLabel ul li:last-child img{width:22px;display:inline-block;margin:3px;}
.detailedBlock ul.detailedList li .detailedLabelEvidence a{text-align:center;border-radius:40px;background:#F3F7FB;padding:12px 20px;text-decoration:none;font-size:16px;color:#166BB3;margin-bottom:20px;width:100%;display:inline-block;}
.detailedBlock ul.detailedList li .detailedDates{text-align:center;width:100%;margin-bottom:20px;}
.detailedBlock ul.detailedList li .detailedDates h4{font-size:14px;color:#000000;font-family:'SourceSansPro-Regular';margin-bottom:0;}
.detailedBlock ul.detailedList li .detailedDates p{font-size:20px;color:#000000;font-family:'SourceSansPro-Bold';}
.detailedBlock ul.detailedList li .detailedDates .detailedSharing{padding:0 50px;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharing p{font-family:'SourceSansPro-Bold';font-size:20px;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharingList{padding-left:0;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharingList li{display:inline-block;cursor:pointer;}
.detailedBlock ul.detailedList li .detailedDates .detailedSharingList li img{width:52px;height:52px;}
.detailedBlock ul.detailedList li .detailedBottom{margin-bottom:20px;}
.detailedBlock ul.detailedList li .detailedBottom ul{padding:10px 20px;border-radius:40px;background:#F3F7FB;}
.detailedBlock ul.detailedList li .detailedBottom ul li{display:inline-block;padding:0 0;background:transparent;vertical-align:middle;}
.detailedBlock ul.detailedList li .detailedBottom ul li p{font-family:'SourceSansPro-Bold';color:#000000;}
.detailedBlock ul.detailedList li .detailedBottom ul li:last-child{}
.detailedBlock ul.detailedList li .detailedBottom ul li:last-child img{width:30px;}
.detailedBlock ul.detailedList li ul.detailedSharingList{padding-left:0;width:100%;display:inline-block;margin:20px 0}
.detailedBlock ul.detailedList li ul.detailedSharingList li{width:auto;display:inline-block;padding:10px;background-color:transparent;cursor:pointer;}
.detailedBlock ul.detailedList li ul.detailedSharingList li img{width:40px;}
.detailedBlock .detailedDoc{margin:18px 20px;background:#F9F8F8;padding:8px 5px;border-radius:30px;text-align:center;}
.detailedBlock .detailedDoc ul li h5 {color:#000000;margin:0 0;font-size:16px;}
.detailedBlock .detailedDoc ul li img{width:40px;padding:5px;}
.detailedBlock .detailedDoc ul{padding-left:0;}
.detailedBlock .detailedDoc ul li{display:inline-block;vertical-align:middle;}
.detailedBlock .detailedDoc ul li:first-child{width:20%}
.detailedBlock .detailedDoc ul li:nth-child(2){width:60%;text-align:left;}
.blockchainedCerttun{position:relative;bottom:0;right:0;left:0;text-align:center;}
.blockchainedCerttun a{border-radius:30px;color:#1C4899;background:transparent;border:2px solid #1C4899;padding:10px 28px;font-size:16px;cursor:default;}
.detailedMobileContainer{display:none;}
.mobileFooter{display:none;text-align:center;}
.mobileFooter > a{background-color:#1C4899;color:#ffffff;padding:8px 12px;border-radius:4px;font-size:16px;display:inline-block;width:auto;text-transform: capitalize;margin-bottom:20px;}
.mobileFooter .blockchanedLink{width:100%;display:inline-block;}
.mobileFooter .blockchanedLink a{color:#1C4899;border:2px solid #1C4899;padding:10px 25px;border-radius:30px;width:auto;display:inline-block;margin:20px 0;font-size:16px;}
.blockchainedBottomContainer{display:none;}
.blockchainedBottom{width:100%;display:inline-block;padding:20px 0;}
.blockchainedBottom a{border-radius:30px;color: #1C4899;background: transparent;border:2px solid #1C4899;padding: 10px 28px;font-size:14px;margin:30px 0;text-transform: capitalize;}
.firstLabel p a{float:right;}
.firstLabel p span{float:right;}
.detailedMobileSub .pull-left button.mat-mdc-button{color: #1C4899}

@media(max-width:1150px)
{
.detailedBlock ul.detailedList > li:first-child{width:20%;}
.detailedBlock ul.detailedList > li:nth-child(2){width:45%;}
.detailedBlock ul.detailedList > li:last-child{width:35%;}
}

@media(max-width:991px)
{
.detailedMobileContainer{display:block;}
.blockchainedBottomContainer{display:none}
.detailedBlock ul.detailedList > li:first-child, .detailedBlock ul.detailedList > li:last-child{display:none;}
.detailedBlock ul.detailedList > li:nth-child(2){width:100%;padding:20px;margin-left:0;}
.blockchainedCerttun{display:none;}
.mobileFooter{width:100%;display:inline-block;padding:20px 0;background: #f9f8f8;}
.detailedInfo .detailedProfile .emailMessage{right: -40px;}
}


@media(max-width:767px)
{
.blockchainedCerttun a{padding:10px 10px;}
.detailedBlock ul.detailedList > li:nth-child(2){width:100%;padding:20px 5px;margin-left:0;}
.detailedBlock ul.detailedList li ul.detailedSharingList{text-align:center;}
.detailedBlock ul.detailedList li ul.detailedSharingList li{padding:5px;}
.detailedBlock ul.detailedList li ul.detailedSharingList li img{width:30px;padding:2px;}
}

@media(max-width:480px)
{
.detailedMobileSub .pull-left{float:left!important;}
.header-logo img {width: 135px;}
.detailedMobileSubtwo .pull-left{float:left!important;padding:20px 30px;}
.detailedMobileSubtwo .pull-left img{width:90px;}
.detailedMobileSubtwo .pull-right img{width:50px;height:50px;}
.detailedBlock .detailedDoc ul li h5{font-size: 12px;}
.detailedBlock .detailedDoc ul li img{width: 28px;padding: 5px;}
}