.badge-detail-separate{position: relative;}
.close-btn{position: absolute;top: 15px;right: 15px;background:transparent;box-shadow:none;border:none;outline:none}
.promo-one .product_detail_block {display: block;}
.prime-boxes-mobile-view {display:none;}
.promo-one .product_info {display: block;}
.prime-boxes {display: block;width: 50%; float: right; clear: right; position: relative; z-index: 1;padding-left: 30px;}
.sebm-google-map-container { height: 420px;}
.product_info h4 { margin-top:0; text-transform: capitalize;}
.product_details { width:100%; display:inline-block; background-color:#f2f2f2; padding:20px; box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -webkit-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -moz-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -o-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77);}
ul.product_detail_list { padding-left:0px; margin-bottom:0px;}
ul.product_detail_list li { font-size:14px; display: inline-block;font-weight: 600; color:#1e232b;}
ul.product_detail_list li:first-child {padding-right:5px}
.scheduler-border .filter-btn.mat-mdc-button { width:100%;}
ul.activity-head-details { padding-left:0; margin-bottom:0; text-align: center;}
ul.activity-head-details li { min-width:190px;max-width:100%;display: inline-block;vertical-align: middle; }
ul.activity-head-details li img { padding-right:0;max-height:320px}
.product_detail_sections.mid img.product-logo-image { max-width:100%; height:auto; object-fit: contain; -o-object-fit: contain; }
.activity_field { width:100%; position: relative; display: inline-block; margin-top: 20px; }
.activity_field .form-control { cursor: pointer;}
.product_detail_sections.mid.detail-qr ul.activity-head-details li { width:50%; max-width:50%; }
.product_detail_logo img { position: relative; display: inline-block; margin:20px 0px;}
.product_detail_block { width: 100%; display: inline-block; position: relative; margin:0% 0%; }
.product_detail_left { width:100%; display: inline-block; float:left; }
.product_detail_right { width:30%; display: inline-block; }
.product_detail_left h4 {font-weight: 600;font-size:16px; margin-bottom:0px; margin-top:0px; color:#1e232b;}
.product_detail_left p {font-family: 'Roboto-Regular';font-size:14px; margin-top:0px;}
.product_detail_left h3 {font-weight: 600;font-size:24px; color:#1e232b; margin-top:0px;}
.product_info_detail { margin:0% 0%; display: inline-block; /*border-left: 2px solid #1e232b;*/}
.product_info { margin:0% 0%; display: inline-block; }
.product_info p {font-weight: 600;font-size:14px; color:#1e232b; text-align: justify; } 
ul.bar-code { padding-left:0px; }
ul.bar-code li { display: inline-block; color:#1e232b; font-size: 14px;}
.product_detail_sections { width:100%;  position: relative; margin-bottom:10px;}
.product_detail_sections.mid img { display: inline-block; max-width:120px; height:120px;}
.product_detail_sections.mid {/*border-left:1px solid #000;*/ padding-left:0; text-align: center;  }
.product_detail_sections.mid.detail-qr { border-left:none; }
.product_detail_sections.last {/*border-left:1px solid #000;*/ padding-left:15px; }
.timeline-content h3 { font-size:18px;font-weight:bold;width:100%;word-break:break-word;word-wrap: break-word;}
.product-title { width:100%; text-align:center;padding:5px; margin-bottom:10px;border-bottom:1px solid #dfe2e5;padding-bottom:10px; background-color: #fff;}
.product-title h3 { color:#354052;font-weight: 600; text-transform: capitalize; }
.product_field { width:100%; display: inline-block; border-bottom:1px solid #dfe2e5;min-height:58px;}
.product_field h4 { margin-bottom:0px; font-size:15px; color:#354052;font-weight: 600;}
.product-title .subtitle { text-align: left;}
:host ::ng-deep .nsm-dialog-btn-close { right:15px; top:15px;}
.product-detail-list { width:100%;display: inline-block; position: relative; padding:10px; border:1px solid #dfe2e5; background-color: #fff;}
.product_field p { position: relative; display: inline-block; width: 100%; word-wrap: break-word;text-transform: capitalize;}
.product_field a { margin-bottom:0;font-size: 15px; position: relative; display: inline-block; width: 100%; word-wrap: break-word; color: #3381bf; font-weight: bold;outline:none;border:none;box-shadow:none}
.product_detail_sections .product_details {padding: 6px 20px;}
.product_details h2 { color:#1e232b; }
.hpanel {width:100%;display:inline-block;margin-bottom:0px;}
img.cmpny-logo { max-height:50px; }
.view_search { display: inline-block; padding:15px 0; margin-right:10px; }
.view_search a { background-color:#1e232b; padding:5px 10px; color:#fff; border-radius: 2px; font-weight: 400; }
.separate_btn.mat-mdc-button { width:100%; color:#fff; background-color: #29b6d8; border-color: #29b6d8; font-size: 14px; padding: 0px 15px; }
.back-activity-btn.mat-mdc-button { color:#fff; background-color: #29b6d8; border-color: #29b6d8; font-size: 14px; padding: 0px 15px; margin-bottom:10px;}
.product_details .pull-left h2{ color: #1e232b; font-family: 'Roboto-Medium' }

.mapDropdown{width:100%;text-align:right;display:inline-block}
.mapDropdown select{width:auto;display:inline-block}

/* ul.activity-head-details.product_images_view { text-align: left;}
ul.activity-head-details.product_images_view li {display: inline-block;min-width:49%;max-width:49%;text-align: center;}
ul.activity-head-details.product_images_view li img {max-height:200px;margin:0 0;display:inline-block;padding:15px;} */



ul.activity-head-details.product_images_view {width:auto;display:inline-block;text-align:left;float: left;}
ul.activity-head-details.product_images_view li {display: inline-block;max-width: 200px;text-align: center;float: left;}
ul.activity-head-details.product_images_view li img{height: 200px;margin: 0 0;display: inline-block;padding: 5%;max-width: 200px;object-fit: contain;}

.map-makers{box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -webkit-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -moz-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); -o-box-shadow: 0px 0px 15px 1px rgba(79,79,79,0.77); background: #f2f2f2;}
.product_details_title{width:100%;text-align:center;display:inline-block}
.product_details_title h4{font-size:16px;font-weight:bold;text-transform:capitalize;color:#000}
.product_details{width:100%;background-color:transparent;box-shadow:none;}
.product_details ul.product_list{padding-left:0;margin-bottom:0;padding:10px 0}
.product_details ul.product_list li{display:inline-block;vertical-align:top}
.product_details ul.product_list li:first-child{width:25%;text-align:center;padding-right:5px}
.product_details ul.product_list li:last-child{width:75%}
.product_details ul.product_list li img{max-width:100%;max-height:90px;height:auto;min-height:auto;object-fit:contain;padding:5px}
.product_details ul.product_list li p{font-size:14px;font-weight:bold}
.product_details ul.product_list li p ~ p{font-weight:12px;font-weight:normal}

@media only screen and (max-width: 991px)
{
    .product_details ul.product_list li{display:inline-block;text-align:center}
    .product_details ul.product_list li:first-child{width:100%}
    .product_details ul.product_list li:last-child{width:100%}
    .product_detail_left, .product_detail_right, .product_info_detail{ width:100%; text-align: left; border-left:0px solid transparent; }   
    .product_detail_sections.mid {border-left:none; padding-left:0px;margin-left: 0;}
.product_detail_sections.last {border-left:none; padding-left:0px; }
.prime-boxes-mobile-view {display:block;}
.prime-boxes {display:none;}
}

.progress_animation { margin:5% 0%; }

@media (min-width: 991px) and (max-width:1230px)
{
.product_detail_left, .product_detail_right { width:100%;}
}

@media (max-width:767px)
{
.main-timeline .profile h3 { line-height: normal; }
.product-title h3 { font-size: 16px;}
.product-title h4 { font-size: 14px;}
.product-title p { font-size: 12px;}
.product-title a, .product_field a { font-size: 12px;}
img.cmpny-logo { max-height:40px; }
.profile_left { font-size:12px;}
.timeline-content h3 { font-size: 12px;}

ul.activity-head-details.product_images_view {width: 100%;display: inline-block;text-align: left;float: left;}
ul.activity-head-details.product_images_view li {display: inline-block;max-width: 50%;text-align: center;width: 50%;min-width: 50%;}
ul.activity-head-details.product_images_view li img {height: auto; margin: 0 0;display: inline-block;padding: 5%;max-width: 100%;-o-object-fit: contain;object-fit: contain;}
}

@media (max-width:480px)
{
.pull-right { width: 100%; text-align: center; }
img.cmpny-logo { max-height:30px; }
}

@media (max-width:460px)
{
ul.activity-head-details li { margin:10px 0; }
}
