section.start_wrapper.change-pwd{width:100%;display:inline-block}
:host{display: block;}
/* .total-left{width:100%;text-align:center} */
.no_record { width:100%;display: inline-block; text-align:center;}
.no_record h2 { font-size:16px; color:#1e232b;margin: 20px 0; }
:host ::ng-deep .start_wrapper .panel-heading .pull-right button { background-color: transparent; padding:0 0;box-shadow:none;}
:host ::ng-deep .start_wrapper .panel-heading .pull-right button span { color:#1e232b;}
.total-count-block h4{font-size:15px}
.total-count-block h3{font-size:32px}
.total-student{background:rgba(255, 255, 255, 0.02);border:1px solid rgba(255, 255, 255, 0.16);backdrop-filter: blur(15.9px);border-radius: 10px;padding:25px 15px 10px 15px;border-radius:10px;border:1px solid hsl(0deg 0% 100% / 20%)}
.total-addnew{background:rgba(255, 255, 255, 0.02);border:1px solid rgba(255, 255, 255, 0.16);backdrop-filter: blur(15.9px);border-radius: 10px;padding:25px 15px 10px 15px;border-radius:10px;border:1px solid hsl(0deg 0% 100% / 20%)}
.total-certificate{background:rgba(255, 255, 255, 0.02);border:1px solid rgba(255, 255, 255, 0.16);backdrop-filter: blur(15.9px);border-radius: 10px;padding:25px 15px 10px 15px;border-radius:10px;border:1px solid hsl(0deg 0% 100% / 20%)}
.total-achievement{background:rgba(255, 255, 255, 0.02);border:1px solid rgba(255, 255, 255, 0.16);backdrop-filter: blur(15.9px);border-radius: 10px;padding:25px 15px 10px 15px;border-radius:10px;border:1px solid hsl(0deg 0% 100% / 20%)}

canvas{background:#0c2425;}


.total-student.share{background-color:#0D0D0D}
.total-addnew.download{background-color:#0D0D0D}
.total-certificate.login{background-color:#0D0D0D}
.total-achievement.review{background-color:#0D0D0D}
.total-left i{font-size:48px;color:#00F6FF}
