mat-select {border: none}
.center-image img.testsam  ~ .label-display { display: none; }
.center-image img.testsam  ~ .label-display img { display: none; }
.testsam ~ .label-display, .testsam ~ .label-display img { display: none; }
.refresh-btn.mat-mdc-button { margin:5px; text-transform: capitalize; background-color:#262d37; color:#fff; width:auto; }
button.resend-btn.mat-mdc-button {color: #fff;background-color: #29b6d8;border-color: #29b6d8;margin: 10px 25px;}
.search-results-stud {padding:15px 0;max-height:770px;border-right:1px solid transparent;display: inline-block;position: relative;width:100%;overflow: auto;}
.center-image img.cls-expired ~ .label-display img.cls-expired { display: block; }
.center-image img.img-responsive.cls-expired ~ .label-display img.cls-expired { display: block; }
.center-image img.cls-expired ~ .label-display img.cls-expirado { display: none; }
.center-image img.img-responsive.cls-expired ~ .label-display img.cls-expirado { display: none; }
.center-image img.cls-expired ~ .label-display img.cls-invalidado { display: none; }
.center-image img.img-responsive.cls-expired ~ .label-display img.cls-invalidado { display: none; }
.center-image img.cls-expirado ~ .label-display img.cls-expired { display: none; }
.center-image img.img-responsive.cls-expirado ~ .label-display img.cls-expired { display: none; }
.center-image img.cls-expirado ~ .label-display img.cls-expirado { display: block; }
.center-image img.img-responsive.cls-expirado ~ .label-display img.cls-expirado { display: block; }
.center-image img.cls-expirado ~ .label-display img.cls-invalidado { display: none; }
.center-image img.img-responsive.cls-expirado ~ .label-display img.cls-invalidado { display: none; }
.center-image img.cls-invalidado ~ .label-display img.cls-expired { display: none; }
.center-image img.img-responsive.cls-invalidado ~ .label-display img.cls-expired { display: none; }
.center-image img.cls-invalidado ~ .label-display img.cls-expirado { display: none; }
.center-image img.img-responsive.cls-invalidado ~ .label-display img.cls-expirado { display: none; }
.center-image img.cls-invalidado ~ .label-display img.cls-invalidado { display: block; }
.center-image img.img-responsive.cls-invalidado ~ .label-display img.cls-invalidado { display: block; }
:host ::ng-deep .certificate-view-model .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right:40px; }
.center-image img.testsam ~ .label-display img { display: none; }
.center-image img.testsam ~ .label-display img, 
.center-image img.img-responsive ~ .label-display img { display: none; }
.center-image img ~ .label-display { position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;margin: 0 auto;width: 38%;}
.center-image img ~ .label-display img {border: none;margin-bottom: 0px;width: 85px;display: inline-block;object-fit: contain;} 
.scroll-window { color:#6a6c6f;display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;flex-wrap:wrap!important;}
.scroll-window > [class*='col-']{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;flex-direction:column!important}
.scroll-window .eng_group{height:100%}
.msg-modal { width: 75% !important; border-radius: 10px !important; ; padding: 12px 0 0 0 ; }


:host ::ng-deep .eng_group:hover .blockchain-submain { bottom:0px;}
:host ::ng-deep .block-left { width:60%;  }
:host ::ng-deep .block-left.block-course-title { width:100%;}
.block-right { width:33%; display: inline-block;  }
:host ::ng-deep .block-left.block-course-title h4 { padding-top:5px;  width:100%; height: 22px; overflow: hidden; display: inline-block; font-size: 14px; color: #2ab6d7; margin-top: 0px; margin-bottom: 0px; font-family: 'Roboto-Regular'; font-weight: normal; white-space: nowrap;  word-break: break-word; overflow: hidden; text-overflow: ellipsis;}
:host ::ng-deep .blockchain-details { padding:22px 10px 15px; }
:host ::ng-deep .expired  { position: absolute; left:23%; top:3px; color: #f20; }
:host ::ng-deep .eng_group .blockchain-submain a { top:15px; }
:host ::ng-deep .eng_group .blockchain-main a img { padding:0px 10px;}
:host ::ng-deep .certify_name { width:100%;word-break: break-word;height:43px}
.badge-delete.expired-revoke.mat-mdc-button { background-color:#262d37; }
:host ::ng-deep .badge-delete.mat-mdc-button { margin:10px 5px;}
:host ::ng-deep .delete-input .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix { padding:3px 0px;}
:host ::ng-deep .view-evidence-btn.mat-mdc-button { margin:10px 0px;text-transform: capitalize;}
:host ::ng-deep a.view-evidence-btn.mat-mdc-button {width:auto;min-width:auto;margin:10px;text-transform: capitalize}
.delete-input .text-danger.text-left.small { position: absolute; bottom: 2px; }
.main-block { width:100%; margin:20px 0px; }
.head-block { width:100%; background-color: #3381bf; padding:10px; text-align: left; }
.head-block h3 { color:#fff; font-family: 'Roboto-Regular'; }
.head-block h4 { color:#fff; font-family: 'Roboto-Regular'; }
.content-block{background-color:#e8e8e8;padding:10px 20px;width:100%;height:auto;text-align:left;word-break:break-word;word-wrap:break-word;}
.content-block div{word-break:break-word;word-wrap:break-word;}
.content-block p{white-space:pre-wrap;word-break:break-word;word-wrap:break-word;}
.badge-block.right-side.issue_dateblock { text-align:center;display: inline-block; padding: 10px; min-width: 210px; max-width:435px;margin:0px;position: relative;}
.badge-block.right-side.issue_dateblock h4 { font-weight: 600;color:#000;margin-top: 0;overflow-wrap: break-word;}
.badge-details-block .badge-block p{overflow-wrap: break-word;}.badge-block.right-side.issue_dateblock h6 { font-weight: 600;color:#000;}
.spacing { margin:10px 0px;position: relative;display: inline-block;padding:5px;width: 100%;}
.panel-body.badge-details-block { width: 100%;height: auto;position: relative;display: inline-block;margin-top: 0px;margin-bottom: 10px;background-color: #fff;border: 2px solid #d8d8d8;padding: 15px;}
.achievement-btn.achievements-group { position: relative; display: inline-block; margin-bottom:20px;}
.badge-details-modelpopup.student-detail-popup { margin-top:20px; bottom:0px;}
.student-block { width:100%; position: relative; padding-bottom:10px; display: inline-block; }
.student-detail-popup h4 { font-size: 16px; color:#29b6d8; }
.student-detail-popup h4 { font-size: 14px; }
.student-header { width:100%; position: relative; text-align: center; display: inline-block; }
.student-header img { width:100px; height:100px; object-fit: contain; display: inline-block; }
ul.student-list { padding-left:0px; margin-bottom:0px; width:100%; }
ul.student-list li { display: inline-block; width:48.9%; padding:0px 0; vertical-align: middle; }
ul.student-list li p { color:#006cb5; font-size: 14px; margin:5px 0;}
ul.student-list li span { color:#262d37;font-size: 14px;word-break: break-word}
.student-btn { width:100%; text-align: center; display: inline-block; padding:10px 0px;}
.mat-mdc-button.btn-info { background-color: #ea6557; border-color: #ea6557; color: #fff;}
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open { min-width: 38%; width: 25%; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right: 0px; top: 30px; }
.student_message { width:100%; display: inline-block; text-align: center; }
.student_message .material-icons { color: #F44336; position: relative; top: 5px; font-size: 25px; }
.password-enter.already-container { display: inline-block; width: 100%; padding: 10px 50px; }
.badge-img-block { width:200px; display: inline-block; position: relative;}
.badge-img-block .verified-label img { top:-10; right:-10; width:50; height:50; }
.verified-label img{ position: absolute; width: 70px; height: 70px; top: 0px; right: 0px; border:none; }
.info-tooltip i { font-size: 30px; color:#ffffff; position: absolute; right: 0px; bottom: 0px; top:20%; margin: auto; }
.certificate-image-view{padding:0px 30px;}
.badge-block.qr-code img { width:120px; height:120px; }
.badge_info i { font-size: 30px; color: #ccc;position: absolute;right: -45px;bottom: 0px;top: 30%;margin: auto;}
::ng-deep .text-danger { bottom: 0px; }
.CertificateInfoPopup h4 {border-bottom: 1px solid #eee; padding-bottom: 10px; }
.confirmationPopup h4 { text-transform: capitalize; }
.confirmationPopup .form-group {width: 100%;text-align: center;display: inline-block;margin-top: 20px;}


/* The ribbons */
.corner-ribbon{
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    font-size: 10px;
    border-bottom: 30px solid #4CAF50;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.corner-ribbon span{font-size:10px;color:#fff;position:relative;top:25px;padding:0}

/* Custom styles */

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.top-left{
    top: -14px;
    left: -31px;    
    transform: rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 9;
}





/* delete tag */
.delete-ribbon{position: absolute;top:7px;right: -33px; text-align: center; letter-spacing: 1px; color: #f0f0f0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); font-size: 10px; border-bottom: 30px solid #F44336; border-left: 30px solid transparent; border-right: 30px solid transparent;}
.delete-ribbon span{font-size:10px;color:#fff;position:relative;top:25px;padding:0}
.delete-ribbon.sticky{ position: absolute; }
.delete-ribbon.top-right{ top:-7px; right: -33px; transform: rotate(45deg); -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); -webkit-transform: rotate(45deg); z-index: 9; }
:host ::ng-deep .eng_group:hover .delete-ribbon.top-right{z-index:1}
:host ::ng-deep .eng_group:hover .corner-ribbon.top-left{z-index:1}


:host ::ng-deep .select_all_container .mat-checkbox-inner-container{width:24px;height:24px}
:host ::ng-deep .select_all_container .mat-checkbox-layout .mat-checkbox-label{font-size:18px}
.select_all_container button.mat-mini-fab.select_all_delete{margin:10px;background:#F44336;font-size:22px;line-height:16px}
.select_all_container button.mat-mini-fab .mat-mdc-button-wrapper{padding:0 0 }
.eng_group .select_checkbox{width:100%;text-align:right;padding:5px 15px 10px 15px}
:host ::ng-deep .eng_group:hover .select_checkbox .mat-checkbox-frame{border-color: rgb(241 241 241)}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
:host ::ng-deep .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-prefix .mat-icon-button, :host ::ng-deep .mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-suffix .mat-icon-button {position:relative;top:10px;}
.refresh-icon { bottom:auto; top:10px;} 
}

@media (min-width:991px) and (max-width: 1200px)
{
:host ::ng-deep .blockchain-details { min-height:120px; height:100%;}
}

@media (min-width: 991px) and (max-width: 1150px)
{
:host ::ng-deep .block-left { padding: 0px 0px;}
:host ::ng-deep .expired  { position: absolute; left:2%; top:3px; color: #f20; }
}

@media (min-width: 980px) and (max-width:1280px)
{
:host ::ng-deep .block-left { width:100%;padding: 0px 5px;}
:host ::ng-deep .block-right { width:100%;}
.expired { left:4%;}
.certify_name { width:100%; }
}

@media (max-width:991px)
{
:host ::ng-deep .scheduler-border .achievement-btn .filter-btn.mat-mdc-button { width:100%;}
:host ::ng-deep .no-float.issuer-section { width: 100%; display: inline-block; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open { min-width: 50%; width: 65%; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right: 0px; top: 0px; }
.verified-label img{ width:30px; height:30px; }
}

@media (max-width:767px)
{
.badge-details-modelpopup .panel-body { padding:15px 0; }
.badge-details-block .badge-block .badge-img-block img { width:100px; height:auto;}
.badge-block .badge-img-block { width:unset;}
.badge-block h4 { font-size: 14px; }
}

@media (max-width: 640px)
{
.badge-details-modelpopup > div,.panel-body.badge-details-block,
.panel-body.badge-details-block > div{padding:10px 0;}
}
    
@media (max-width: 480px)
{
.badge-block.right-side.issue_dateblock{width: 182px;max-width:100%;min-width:100%;}
.badge-block.right-side.issue_dateblock h4{font-size: 20px;}
.main-block .content-block h4 { font-size: 10px; }
.issuer-section .badge-link a { font-size: 12px;padding: 0px 0px 0px 0px; margin: 5px 0px;}
.issuer-section .badge-link {margin: 0px 0px 20px; }
.badge-certificate-title h3 { font-size: 18px;}
.issuer-section { padding-left:0px; padding-right:0px; }
:host ::ng-deep a.view-evidence-btn.mat-mdc-button span{word-break: break-word;display: inline-block;width: 100%;white-space: pre-line;line-height: normal;}
}
