.signin_modal legend{font-size:18px;}
.login_actions{position:absolute;z-index:999;top:28%;left:-111px;margin:auto;display:block}
.login_actions a{display:block;font-size:14px;padding:10px 30px;margin:10px 0;border-top-left-radius:20px;border-bottom-left-radius:20px;color:var(--primary-color);background:#ffffff;}
.login_actions a:hover{color:#ffffff;background-color:var(--primary-color);}
.login_btns{margin:20px 0;display:inline-block;}
.img-container{margin:20px 0}
.alert{ padding: 5px; }
.form-group { margin-bottom:20px;}
.text-danger { bottom: -15px; font-weight: normal; }
.form-group.signup-button { margin-bottom: 0px; }
.signup-logo  { padding:0;}
.signup-block .signup-container{display:inline-block; position: relative; height: 100%; padding:0;margin-top:0;margin-bottom:0;}
.img-container img{vertical-align: middle;display: inline-block;width:200px;height:auto;object-fit:contain;}
.form-group input[type=checkbox].signup-checkbox { display: inline-block; top:5px; }
.form-group .signup-accept-label { float: left; left:0px; top:0px;}
.signup-block .container{width:100%; /*position: absolute; left: 0;right: 0;bottom: 0;top: 0;margin: auto;margin-top:8%;margin-bottom:3%;*/   display: table-cell;text-align: center;vertical-align: middle;}
ul.sign-container{width:100%;position:relative;padding-left:0;margin-bottom:0;display:flex;align-items:center;justify-content:center;position:relative;}
ul.sign-container .signup-block-two{position:relative;}
ul.sign-container .signup-block-two::before{content:'';background:url('../../assets/images/graduation.png');    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    right: -40px;
    top: -40px;
    background-size: contain;}
ul.sign-container li{display:inline-block;position:relative;padding-left:300px;background:#fff;border-radius:30px}
ul.sign-container li::before{content:'';display:inline-block;background:url('../../assets/images/login-container.png');
    background-size:100% 100%;
    height:100%;
    background-position:left;
    background-repeat:no-repeat;border-radius:20px;overflow:hidden;position:absolute;width:300px;left:0}
.email-verify { width:100%; text-align: center; display: inline-block;position: relative;top: 24px; }
.email-verify .material-icons { color: orange;font-size: 55px;}

@media (min-width:1400px)
{
.signup-block .signup-container { width:75%; }
.signup-block .signup-section { text-align: center; }
}

@media (max-width:767px)
{
ul.sign-container li { width:10%; display: unset; }
.signup-block .signup-container { margin-top:5%; margin-bottom:5%; }
.signup-block .container { margin:5% 0%; display: block;}
.signup-block { overflow: auto;position: relative;display: inline-block;}
.signup-logo  img {width:150px;margin:20px 0px;}
.form-group input[type=checkbox].signup-checkbox { position: relative;}
.form-group .signup-accept-label { padding:5px 0px; }
}