:host ::ng-deep .view-evidence-btn.mat-mdc-button{/*min-width:auto;width:auto;*/}
.certificate-container { display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex; flex-wrap: wrap;}
:host ::ng-deep .logodash h1 a .eduvot-logo {right:20px; } 
:host ::ng-deep #header.main_header_substream { position: relative; }
:host ::ng-deep button.sb-wrapper.sb-linkedin.sb-show-icon.sb-show-text { background-color:#006fa6; color:#fff; }
:host ::ng-deep button.sb-wrapper.sb-linkedin .sb-text { width:100%; display: inline-block; text-align: left;font-weight: normal;}
:host ::ng-deep .main_header_substream #logo.light-version span { max-width:70%; width:155px; font-size: 14px; padding-left: 5px;display: inline-block ;line-height: 45px;}
:host ::ng-deep .main_header_substream #logo.light-version{padding:18px 5px 18px 10px; }
.SocialIcons .col-md-6{min-height:46px}
.mat-select-value{color:#fff!important}
.lang{position:relative;right:0;display:inline-block;margin:0 5px}
.theme-palette .mat-mdc-button { min-width:54px; }
.lang .dropdown-menu { min-width:57px;transform: translate3d(-8px, 34px, 0px) !important;}
.header_default_avatar{display: inline-block;width: 45px;height: 45px;border-radius:45px;vertical-align: middle;margin-left:10px;}
.panel-heading.title-block { background-color: #1e232b; }
.panel-heading.title-block h4 { color: #fff; }
.student-details-block { display: inline-block; position: relative; width:100%; margin:20px 0px; padding:0px 0px; }
.progress_animation { margin:5% 0%; }
:host ::ng-deep .student-module .eng_group .blockchain-submain a { top:20px;}
:host ::ng-deep .issuer-details { min-height:auto;}
:host ::ng-deep .badge-detail-separate { background-color: #e8e8e8;width:100%; position: relative; display: inline-block; }
:host ::ng-deep .issuer-details img {position: relative; display: inline-block; max-width: 100px; height: 100px; border: 4px solid #d8d8d8; padding: 10px; width: 100%; object-fit: contain; border-radius:0px; }
:host ::ng-deep .badge-block img { height: 150px; display: inline-block; border: 4px solid #d8d8d8; padding: 10px; width: 100%; border-radius:0px;}
:host ::ng-deep .student-module.badge-details-popup .badge-block { text-align:center; margin:0px 0px; }
:host ::ng-deep .student-module.badge-details-popup .badge-block img { max-width: 100px; height: 100px; display: inline-block; border: 4px solid #d8d8d8; padding: 10px; width: 100%; object-fit: contain; border-radius:0px;}
:host ::ng-deep .badge-details-block { width:100%; height:auto; position: relative; display: inline-block; margin-top: 0px; margin-bottom: 0px; background-color: #fff; border:2px solid #d8d8d8; padding:15px; }
:host ::ng-deep .badge-details-modelpopup { bottom:0px; margin-top:0px; }
:host ::ng-deep .my_pagefooter  { border-top:none; position: relative;  margin-top:20px; margin-bottom:20px; }
:host ::ng-deep .criteria-blog img, :host ::ng-deep .description-blog img { max-width:100%; height:auto !important; width:100% !important;}
:host ::ng-deep .content-block .container { width:100%;}
:host ::ng-deep .badge_btn { margin:10px 0px; }
:host ::ng-deep .eng_group{overflow: hidden;}
:host ::ng-deep .eng_group:hover .blockchain-submain { bottom:0px; }
:host ::ng-deep .badge-block { margin:0px 0px; }
.toggle-container {display: inline-block; position: absolute; top: 15px; right: 35px; }
:host ::ng-deep .toggle-container .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {background-color:#1e232b; }
:host ::ng-deep .toggle-container .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar { background-color:rgba(38, 45, 55, 0.5);}
:host ::ng-deep .start_wrapper .hpanel { border:0 solid transparent; }
.badge-block.right-side.issue_dateblock { text-align:center;display: inline-block; padding: 10px; min-width: 210px; max-width:435px;margin:0px;position: relative;}
.badge-block.right-side.issue_dateblock h4 { font-weight: 600;color:#000;margin-top: 0;overflow-wrap: break-word;}
.badge-details-block .badge-block p{overflow-wrap: break-word;}
.badge-block.right-side.issue_dateblock h6 { font-weight: 600;color:#000;}
.spacing { margin:10px 0px;position: relative;display: inline-block;padding:5px;width: 100%;}
.student-details {border-radius: 10px; width: 100%;text-align: center; position: relative; /* background-color: #f4f4f4; */ display: inline-block;}
ul.student-detail-list { background-color: #e6e6e6; padding-left:0px; margin-bottom:0px; margin-top:5px; padding:10px; width:80%; display: inline-block; }
ul.student-detail-list li { font-family: 'Roboto-Regular'; width:35%; padding:0px 30px; font-size: 16px; display: inline-block; vertical-align: middle; margin:0px 10px; }
ul.student-detail-list li:first-child p { font-weight: bold; }
ul.student-detail-list li:first-child p:after { content:":"; float: right; }
ul.student-detail-list li p { margin-bottom: 0px;word-break: break-all; }
:host ::ng-deep .avatar-image { width:100%; height:100%;  border:none; margin:0px; text-align: center; }
:host ::ng-deep .avatar-image img { width:150px; height:150px; border-radius: 50%; display: inline-block; }
.student-module.badge-details-popup .badge-block .expired-label img {width: 80px;min-width: 80px;height: auto;border: none;top: 20px;position: relative}
.back_btn .back.mat-mdc-button {background-color: #29b6d8;border-color: #29b6d8;font-size: 14px;padding: 0px 15px;margin:20px 0px}
.header-block { width:100%; height: 100px; position: relative; display: inline-block; box-shadow: 0px 0px 12px 2px #888888; padding: 25px 20px;}
.header-logo img { width:200px; height:auto; display: inline-block;}
.blue-box { width:100%; position: relative; display: inline-block; text-align: center; }
.blue-box h3{ min-width:230px; font-family: 'Roboto-Regular';color:#fff; background-color: #3381bf; width:auto; padding:10px 20px; display: inline-block; position: relative; text-overflow: ellipsis; font-size:16px;}
.blue-box h3 img { width:25px; }
.profile_details{ width:100%; padding:20px 10px;margin-bottom:20px;background-color: #3381bf; min-height:160px; height:auto;}
.profile_details img { width:70px; height:70px; border-radius: 70px; display: inline-block; position: relative; }
.profile_details h3 { font-size:16px; color:#fff; font-family: 'Roboto-Regular'; position: relative; top: 18px;}
.shield_img { width:100%; text-align: right; display: inline-block;}
.shield_img img { width:25px; height: auto;}
.back_btn { width:100%; display: inline-block; text-align: right; }
.back.mat-mdc-button { background-color: #3381bf; color:#fff; }
.main-block { width:100%; margin:20px 0px; }
.head-block { width:100%; background-color: #3381bf; padding:10px; }
.head-block h3 { color:#fff; font-family: 'Roboto-Regular'; font-size:16px;}
.content-block{background-color: #f5f5f5;padding:15px 20px;width:100%;height:auto;word-break:break-word;word-wrap:break-word}
.content-block p{white-space: pre-wrap; word-break: break-word;word-wrap:break-word}
.content-block div{word-break:break-word;word-wrap:break-word;}
.detail_box { border:1px solid #ededed; width:100%; padding:5px 10px; margin:5px 0px; display: inline-block; position: relative;} 
.detail_box .left-side { width:20%; float: left; display: inline-block; text-align: center;}
.detail_box .right-side { width:78%; display: inline-block; } 
.detail_box .left-side span img { width:40px; height:40px; border-radius: 40px; display: inline-block; position: relative; object-fit: cover; top:5px; margin-right:5px; }
.detail_box .right-side h4, .detail_box .middle-side h4 { font-size: 16px; font-weight: normal; color:#4c4c4c; font-family:'Roboto-Regular';}
.detail_box .right-side h4 a, .detail_box .middle-side h4 a { color:#3381bf; font-weight: normal; font-family: 'Roboto-Regular';}
.left-side .fa { font-size: 20px; color:#4c4c4c;position: relative; top:8px; }
ul.social_list, .social_list { padding-left:0px; margin-bottom:0px; margin:0px 5px; padding-bottom:10px; display: inline-block; position: relative; }
ul.social_list li {font-family: Roboto-Regular; display: inline-block; width:40px; height:40px; border-radius: 40px; color:#fff; margin:0px 5px;}
ul.social_list li a .fa { font-size: 25px; position: relative; color:#fff; }
ul.social_list li:first-child a .fa{ left: 12px; top: 9px; }
ul.social_list li:nth-child(2) a .fa{ left: 8px; top: 9px; }
ul.social_list li:nth-child(3) a .fa{ left: 5px; top: 9px; }
ul.social_list li:first-child { background-color: #3b5998; }
ul.social_list li:nth-child(2) { background-color: #1da1f2; }
ul.social_list li:nth-child(3) { background-color: #d34836; }
.certificate_view { margin:20px 0px; width:100%; height: auto; position: relative; display: inline-block; text-align: center; top:60px;}
.certificate_view img { display: inline-block; width:60%; margin-bottom:20px; }
.detail_box a {font-family: 'Roboto-Regular'; font-size: 18px; color:#4c4c4c; }
.detail_box.hover:hover { color:#fff; background-color: #3381bf; }
.detail_box.hover:hover .right-side h4, .detail_box.hover:hover .middle-side h4, .detail_box.hover:hover .left-side .fa { color:#fff; }
a:hover .certificate_view.hover .hovers_box{ display: inline-block; }
a.cerificate-click { position: relative; display: inline-block; width: 100%; height: 100%; }
.certificate_view.hover { height:46px; position: absolute; top:-5px;}
.certificate_view { width:100%; display:inline-block; text-align:center;}
.hovers_box { color:#fff; position: relative;background: #3381bf;border: 4px solid #c2e1f5;width:220px;padding:10px; display: inline-block;}
.hovers_box:after, .arrow_box:before {top: 100%; left: 50%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;}
.hovers_box:after {border-color: rgba(136, 183, 213, 0);	border-top-color: #3381bf;	border-width: 16px;	margin-left: -16px;}
.hovers_box:before {border-color: rgba(194, 225, 245, 0);border-top-color: #c2e1f5;	border-width: 20px;	margin-left: -20px;}
.student-module.badge-details-popup .panel-body { padding: 0px 15px 15px; }
.not-yet { position:absolute; top:0px; left:0px; right:0px; bottom:0px; background-color:rgba(0, 0, 0, 0.57); z-index:999; }
.not-yet h3 { color: #fff; position: relative; top: 35%; bottom: auto; background-color: #4c4c4c; padding: 10px; } 
.eng_group:hover .not-yet ~ .blockchain-submain { display: none; }
.eng_group { min-height: 270px; }
.eng_group span {width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: pre-line}
:host ::ng-deep .student-module.user-certificate .block-left h4 { width:100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-transform: capitalize;}
:host ::ng-deep .block-right { min-height:50px; display: inline-block; position: relative; right: 0px;  width: 28%; }
:host ::ng-deep .block-left {  width: 65%; }
.block-right p { margin-bottom:0px; }
.block-right .icon { font-size:28px; padding:0px; }
:host ::ng-deep .badge-delete.mat-mdc-button { margin:10px 0px; }
:host ::ng-deep .delete-input .mat-form-field-appearance-outline .mat-form-field-infix { padding:3px 0px;}
.delete-input .text-danger.text-left.small { position: absolute; bottom: 2px; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open { min-width: 38%; width: 25%; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right: 0px; top: 0px; }
:host ::ng-deep .certificate-view-model .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .center-image  { margin-top:30px;}
.email-details .material-icons { font-size: 60px; color:#62bb12; }
.email-details  h5 {font-size: 18px;line-height: 30px; color:#1e232b; }
.email-popup .view-evidence-title h4 { text-align: center; color:#1e232b; font-size: 22px; text-transform: capitalize; font-weight: bold; color: #1e232b; text-shadow: none; }
.badge-img-block { width:200px; display: inline-block; position: relative;}
.badge-img-block .verified-label img { top:-10; right:-10; width:50; height:50; }
.verified-label img{ position: absolute; width: 70px; height: 70px; top: 0px; right: 0px; border:none; }
.info-tooltip i { font-size: 30px; color:#ffffff; position: absolute; right: 0px; bottom: 0px; top:20%; margin: auto; }
.certificate-image-view{padding:0px 30px;}
.badge-block.qr-code img { width:120px; height:120px; }
.badge_info i { font-size: 30px; color: #ccc;position: absolute;right: -45px;bottom: 0px;top: 30%;margin: auto;}
.certificate-image-view {padding:0px 30px;}
.certificate-image-view .verified-label img  { margin:0px; }
.badge-block .badge-img-block img { height:auto;}
.CertificateInfoPopup h4 {border-bottom: 1px solid #eee; padding-bottom: 10px; }
.block-right.full-block p img {width: 30px;height: auto;}
.detail_box[_ngcontent-c1] .right-side-btn[_ngcontent-c1]{display: inline-block;}
.detail_box[_ngcontent-c1] .middle-side[_ngcontent-c1]{display: inline-block; width:50%}
.contact-email-btn.mat-mdc-button { color:#fff!important; background-color: #29b6d8; font-size: 1.3em!important;}
.evidence-achievement-view{display: flex;flex-direction: column;}

/* The ribbons */
.corner-ribbon{position: absolute;top: 25px;left: -50px;text-align: center;letter-spacing: 1px;color: #f0f0f0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);font-size: 10px;border-bottom: 30px solid #4CAF50;border-left: 30px solid transparent;border-right: 30px solid transparent;}
.corner-ribbon span{font-size:10px;color:#fff;position:relative;top:25px;padding:0}
.corner-ribbon.sticky{position: absolute;}
.corner-ribbon.top-left{top:-10px;left:-32px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);z-index:9}
:host ::ng-deep .eng_group:hover .corner-ribbon.top-left{z-index:1}
:host ::ng-deep .description-blog img{width:auto!important}

:host ::ng-deep button.sb-wrapper.sb-whatsapp.sb-show-icon.sb-show-text {
    background-color: #28b72e;
    color: #fff;
    height: 100%;
}

:host ::ng-deep .SocialIcons .sb-show-text .sb-icon {
    width: auto;
    padding-left: 20px;
    padding-right: 8px;
}

:host ::ng-deep .sb-wrapper .sb-count, :host ::ng-deep .sb-wrapper .sb-text {
    text-align: left;
    flex: initial;
    padding: 0;
    display: inline-flex;
    font-weight: 500;
}

a.linkedin-btn.social-share-linkedin.mat-mdc-button span.btn-text {
    padding-left: 32px;
}


button.social-share-facebook.mat-mdc-button{margin:4px 4px}
button.social-share-twitter.mat-mdc-button{margin:4px 4px}
button.social-share-whatsapp.mat-mdc-button{margin:4px 4px}

.profile_details_container{border-radius:8px;background:#fbfbfb;width:100%;display:inline-block;margin-bottom:20px;border: 2px solid #eeeeee}
.profile_details_container img{width:100px;height:100px;border-radius:50%;border: 1px solid #c5c5c5;}
.profile_details_container h5,.profile_details_container h4, .profile_details_container h3, .profile_details_container h2{font-weight:normal}
.profile_details_container h5{font-size:16px}
.profile_details_container p{font-size:14px;padding:10px 0;text-align: justify;}
ul.profile_main_list{padding:20px;margin-bottom:0;width:100%;margin: 0 auto 20px auto;background: #f1f1f1;}
ul.profile_main_list li{display:inline-block;text-align:left;vertical-align:middle}
ul.profile_main_list li:last-child{width:69%}
ul.profile_main_list li:first-child{width:30%;padding:0 20px;text-align:center}


ul.profile-edu-list{padding-left:0}
ul.profile-edu-list li{display:inline-block;padding:5px;vertical-align:middle}
ul.profile-edu-list li:first-child{width:100px;text-align:center}
ul.profile-edu-list li:nth-child(2){width:70%}
ul.profile-edu-list li:last-child{width:100px;text-align:center}

ul.profile-edu-list li p,ul.profile-edu-list li h5{margin-bottom:0;padding:0 0}
.profile_details_container ul.profile-edu-list li img{width:60px;height:60px;border-radius:4px}
button.mat-mini-fab.mat-accent {
    background: #1e232b;
}

.prof_title{    width: 100%;
    padding: 10px 20px;
    background-color: #f1f0f0;
    margin: 20px 0;
    border-radius: 6px;}
.prof_title span{font-size:16px;}


@media (max-width:1199px)
{
.header-block { height:auto;}
.blue-box h3 { min-width:auto;}
}

@media (min-width: 980px) and (max-width:1230px)
{
.student-module.user-certificate .block-left h4 { width:100%;}
:host ::ng-deep .student-module.user-certificate .block-left h4 { height:45px;}
.block-left { width:65%; }
.block-right { width:35%; }
}

@media (max-width: 991px)
{
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open { min-width: 50%; width: 65%; }
:host ::ng-deep .certificate-view-model.badgewindow .nsm-dialog-animation-fade.nsm-dialog.nsm-dialog-open .nsm-dialog-btn-close { right: 0px; top: 0px; }
:host ::ng-deep .avatar-image { margin-bottom:10px; } 
.verified-label img{ width:30px; height:30px; }
}

@media (min-width: 769px) and (max-width:900px)
{
.student-module.user-certificate .block-left h4 { width:100%;}
:host ::ng-deep .student-module.user-certificate .block-left h4 { height:45px;}
.block-left { width:100%; }
.block-right { width:100%; }
}

@media (max-width:767px)
{
.header-block { height: auto;}
.header-logo { width:100%; text-align: center; display: inline-block; }
.detail_box .right-side h4, detail_box .middle-side h4  { font-size: 13px;}
.blue-box h3 { padding: 10px 10px; min-width:auto; font-size: 14px; }
.profile_details h3 { font-size: 14px;}
.badge-block { margin:10px 0px;}
.certificate_view img { width:100%; }
.content-block { padding:15px 0px; }
.detail_box { padding: 5px 0px;}
.student-module.badge-details-popup .panel-body { padding: 0px 0px 15px; }
:host ::ng-deep .avatar-image { text-align: center; margin-bottom:10px; } 
:host ::ng-deep .avatar-image img { width:150px; height:150px; display: inline-block; }
ul.student-detail-list li { font-family: 'Roboto-Regular'; width:43%; } 
:host ::ng-deep .main_header_substream #logo.light-version { display: block; width:100%; text-align: center;}
:host ::ng-deep #header.main_header_substream { height:160px; }
:host ::ng-deep .logodash h1 a .eduvot-logo { position: relative; width:100%; top:0px; }
.detail_box[_ngcontent-c1] .middle-side[_ngcontent-c1]{width:78%}
.contact-email-btn.mat-mdc-button { font-size: 1.1em!important;}
ul.profile_main_list li:first-child,ul.profile_main_list li:last-child{width:100%;text-align:center}
.content-block h4{font-size:12px}
.detail_box .left-side{width:100%}
.content-block div{width:100%;text-align:center;display:inline-block}
}

@media (min-width: 481px) and (max-width:550px)
{
.student-module.user-certificate .block-left h4 { width:100%;}
:host ::ng-deep .student-module.user-certificate .block-left h4 { height:45px;}
.block-left { width:100%; }
.block-right { width:100%; }
}

@media (max-width: 640px)
{
.badge-details-modelpopup > div,.panel-body.badge-details-block,
.panel-body.badge-details-block > div{padding:10px 0;}
ul.student-detail-list{ width:100%; }
}
    
@media (max-width: 480px)
{
.badge-block.right-side.issue_dateblock{width: 182px;max-width:100%;min-width:100%;}
.badge-block.right-side.issue_dateblock h4{font-size: 20px;}
ul.student-detail-list li { padding:0px 0px; }
ul.student-detail-list li { font-family: 'Roboto-Regular'; width:50%; } 
:host ::ng-deep .logodash { width: 100%; float: none !important; }
:host ::ng-deep .logodash ul { width:100%; }
:host ::ng-deep .logodash ul li { width:100%; }
:host ::ng-deep .logodash h1 { width:100%; text-align: center; display: inline-block; }
:host ::ng-deep .logodash h1 a { width:100%; text-align: center; display: inline-block; }
:host ::ng-deep .logodash h1 a .eduvot-logo { position: relative; width:100%; text-align: center; display: inline-block; }
:host ::ng-deep .main_header_substream #logo.light-version { height: auto;}
}
