// $nav-background-color:#fff;
// $nav-border-color:#373d47;
// $nav-text-color:#262d37;
// $nav-hover-color:#1e232b;

//$header-background-color:#fff;
//$header-border-color:#262d37;
//$header-text-color:#262d37;

// Header Start
//#header.main_header_substream { background-color:$header-background-color; border-bottom: 1px solid $header-border-color; display: block; height: 82px; margin: 0; padding: 0; }
//.theme-palette .material-icons { color:$header-text-color; }
// Header End


// Side Navigation Start
//.menuslides #side-menu {background:$nav-background-color;}
//.sidebar-scroll #menu.menuslides {top: 81px; background-color:$nav-background-color; width: 286px;}
//.menuslides #side-menu li a { height: 75px; color: $nav-text-color; font-size: 18px; font-weight: 400; padding: 19px 0 19px 40px; text-transform: capitalize;}
//.main_header_substream #logo.light-version {display: block;width:237px; background-color:$nav-background-color; border-bottom:1px solid #373d47; height: 82px; padding: 23px 10px 23px 41px; text-align: left;}
//.menuslides #side-menu.nav > li > a:hover, .menuslides #side-menu.nav > li > a:focus {background-color:$nav-hover-color;}
//.menuslides #side-menu li:first-child {border-top: 1px solid $nav-border-color;}
//.menuslides #side-menu li {border-bottom: 1px solid $nav-border-color;}
//.main_header_substream .header-link {height:82px;background: $nav-background-color; border-left: 0px solid $nav-background-color; border-right: 1px solid $nav-background-color; border-bottom: 1px solid $nav-border-color; color: #ffffff; cursor: pointer; float: left; font-size: 17px; margin-right: 15px; padding:28px 17px 28px 16px;}
// Side Navigation End