:host ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex { height:44px; }
:host ::ng-deep .mat-select-trigger { top:5px; }
mat-table.table.table-striped.table-bordered.table-hover.mat-table { min-width:1050px;}
.achievement-btn.achievements-group{text-align:left;margin-bottom:20px}
.angular-datepicker{width:80%}

.col-lg-3.col-md-4.col-sm-12 {
    min-height: 64px;
}