:host ::ng-deep button.certificate-btn.mat-mini-fab.mat-accent{background-color:#1e232b;width:30px;height:30px}
:host ::ng-deep button.certificate-btn.mat-mini-fab.mat-accent i{font-size:18px}
:host ::ng-deep button.certificate-btn.mat-mini-fab .mat-button-wrapper{
    line-height: 18px;
    padding: 0 0;
    position: relative;
    bottom: 2px;
}

ul.canned_list{width:70%;display:inline-block}
ul.canned_list li{display:inline-block}
ul.canned_list li h4{font-size:16px;color:#1e232b;}
ul.canned_list li:first-child{width:70%}
ul.canned_list li:last-child{width:28%}


.spinner_center{width:100%;text-align:center;display:inline-block}
.spinner_center mat-spinner{display:inline-block}



@media (max-width:480px)
{
ul.canned_list{width:100%;padding-left:0}
ul.canned_list li{text-align:center}
ul.canned_list li:first-child{width:100%}
ul.canned_list li:last-child{width:100%}
}