.mat-dialog-title{font-size:18px;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #f1f0f0;}
.protest h3{font-size:16px}
.form-group label{font-size:14px;font-weight:normal;font-family:'Roboto-Regular';width:100%}
.form-group textarea{width:100%;padding:10px}
button.mat-mdc-button{background-color:#262d37;color:#ffffff!important;margin-right:10px}
.table-responsive.protest{border:0 solid transparent}
