.detailedBlock{position:relative;overflow:hidden;}
.detailedBlock .arrowClose{position:absolute;top:20px;right:20px;color: #0b69c7;}
ul.linkedin-list{padding-left:0;width:100%;display:flex;margin:0 0;align-items: center;}
ul.linkedin-list li{display:inline-block;}
ul.linkedin-list li:first-child{width:65%;background-color:#0E8AB8;padding:35px 55px;}
ul.linkedin-list li:last-child{width:35%;background-color:#ffffff;padding:20px;text-align:center;}
ul.linkedin-list li:last-child img{width:60px;height:60px;filter: drop-shadow(3px 3px 16px rgba(0, 0, 0, 0.25));}


.linedin-left{width:100%;display:inline-block;}
.linedin-left .detailedCertificate{padding:10px 10px 0 10px;}
.linedin-left .certificateTop{width:100%;display:inline-block;padding:20px 20px 0 20px;background-color:#ffffff;border-top-left-radius:14px;border-top-right-radius:14px;}
.linedin-left .certificateTop img{width:100%;box-shadow:3px 3px 18px 3px #cccccc;display:inline-block;}
.linedin-left .certificateBottom{width:100%;padding:5px 15px 15px 15px;background-color:#F5F5F5;border-bottom-left-radius:14px;border-bottom-right-radius:14px;}
.linedin-left .certificateBottom h4{font-size: 16px;font-family: 'Roboto-Medium';color: #000000;}

.linkedin-right{padding:50px 0;}
.linkedin-right .right-title{text-align:center;padding-bottom:40px;}
.linkedin-right .right-title h3{font-size:18px;color:#000000;font-weight:800;font-family: 'Roboto-Bold';padding:20px 26px;text-transform: uppercase;line-height:25px;}
.linkedin-right .right-title h3 span{color:#0B69C7}
.linkedin-right .right-title p{font-size:16px;color:#000000;font-weight:500;font-family: 'Roboto-Medium';padding:0 75px;}
.linkedin-right .right-center{text-align:center;padding:50px 0 0 0;}
.linkedin-right .right-center h4{font-size:14px;color:#000000;font-weight:normal;font-family: 'Roboto-Medium';margin-bottom:0;}
.linkedin-right .right-center p{font-size:14px;color:#000000;font-weight:normal;font-family: 'Roboto-Regular';}
.linkedin-right .right-bottom{text-align:center;padding:0 0 50px 0;}
.linkedin-right .right-bottom h4{font-size:14px;color:#000000;font-weight:normal;font-family: 'Roboto-Medium';}
.linkedin-right .right-bottom p{font-size:14px;color:#000000;font-weight:normal;font-family: 'Roboto-Regular';}
.linkedin-right .right-bottom .lines{border-bottom: 0.75px solid #0E8AB8;width:80%;margin:0 auto 10px auto;display:block;}
.linkedin-savebtn button.mat-button{text-align:center!important;background-color:#0B69C7!important;background:#0B69C7!important;border-color:#0B69C7!important;border-radius:8px;padding:5px 0;}

@media(min-width:1100px)
{
    ul.linkedin-list{min-width:950px;}
}

/* .detailedBlock{position:relative;}
.detailedBlock .arrowClose{position:absolute;top:-15px;right:-15px;}
ul.title_top{padding:0;background-color:#2f5597;display:flex;align-items:center;}
ul.title_top li{display:inline-block;padding:0;}
ul.title_top li:last-child{padding:10px}
ul.title_top li img{width:75px;max-width:100%;}
ul.title_top li .popup_title{font-size:18px;color:#ffffff;font-weight:bold;}
.detailedBox{padding:15px;}
.detailed-center img{max-width:45%;display:block;margin:0 auto;}
.detailed-center h4{font-size:16px;color:#000000;}
.detailed-center p{color:#4a4a4a;font-size:14px;}
button.social-share-linkedin.mat-button{background:#2f5597!important;color:#ffffff;border-color:#2f5597!important;text-align:center!important;text-transform:uppercase;font-size:18px;font-weight:bold;}


@media(max-width:560px)
{
.detailedBox{padding:0;}
ul.title_top{display:inline-block;width:100%;text-align:center;}
ul.title_top li{padding:10px}
ul.title_top li img{width:45px;}
ul.title_top li img{width:75px;max-width:100%;}
button.social-share-linkedin.mat-button{white-space: pre-line;}
.detailed-center h4{font-size:14px;}
.detailed-center p{font-size:12px;}
ul.title_top li .popup_title{font-size:16px;}
} */



@media(max-width:991px)
{
    ul.linkedin-list li:first-child{width:55%;padding:15px 25px;}
    ul.linkedin-list li:last-child{width:45%;padding:10px;}
}



@media(max-width:800px)
{
ul.linkedin-list{display:inline-block;width:100%;}
ul.linkedin-list li:first-child{width:100%;padding:15px 25px;}
ul.linkedin-list li:last-child{width:100%;padding:10px;}
}